/*footer mobile*/
.subscribe_check {
    display: none !important;
}
#footerMobile .panel-default {
    /* border: 0 !important; */
    border-radius: 0 !important; /* border-bottom: 1px solid #ccc !important; */
    margin-top: 0 !important;
    margin-bottom: 20px;
}
#footerMobile .panel-default:nth-child(1) {
    /* border-top: 1px solid #ccc !important; */
}
#footerMobile .panel-default .panel-heading {
    background: none; /* padding: 17px 0 !important; */
    border: 0 !important;
}
#footerMobile .panel-default .panel-heading:first-child {
    border-top: 1px solid #ddd;
}
#footerMobile .panel-default .panel-heading h3 {
    text-align: left;
    margin-bottom: 10px;
}
#footerMobile .panel-default .panel-heading h3 a {
    display: inline-block;
    width: 100%;
    position: relative;
    padding-right: 0px;
    cursor: pointer;
    color: #2c2c2c;
}
#footerMobile
    .panel-default
    .panel-heading
    .panel-title.collapsed
    .fa-chevron-up:before {
    content: "\f078" !important;
}
#footerMobile .fa.pull-right {
    font-size: 14px;
    line-height: 20px;
}
#footerMobile .InfoCompany {
    width: 100%;
    margin: 30px 0px !important;
}
#footerMobile .footer_Link li {
    text-align: left;
}
/**/
.fw_400 {
    font-weight: 400 !important;
}
.text-bold {
    font-weight: 700;
}
.size35 {
    font-size: 35px;
}
.footer.success {
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 1;
    left: 0;
    border-top: 0;
}
.footer a {
    color: #1c1c1c;
}
.footer a:hover {
    color: var(--main-color);
}
.logo__footer {
    width: 154px;
    margin: 30px auto;
}
.zone__footer--main {
    margin: 50px 0 45px;
}
.zone__footer--intro {
    width: 100%;
    max-width: 860px;
    margin: 0 auto;
}
.company_name {
    line-height: 1.1;
}
#footerMobile .Socialandpay p.payment {
    text-align: center;
    margin-top: 10px;
}
.list_social {
    justify-content: flex-start;
    margin-bottom: 35px;
}
.list_social li {
    margin-right: 10px;
    margin-bottom: 10px;
}
.list_social li i {
    width: 26px;
    height: 26px;
    background: #fff;
    color: #a0a9b2;
    border-radius: 100%;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    transition: all 0.5s ease;
}
.list_social li a:hover i {
    transform: rotate(360deg);
    border-radius: 0; /*;color:#fff*/
}
.footer_info .readmore {
    cursor: pointer;
    color: rgba(26, 13, 171, 1);
    text-decoration: none;
}
.footer_info .readmore:hover {
    text-decoration: underline;
}
.footer_Link {
    padding: 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
}
.footer_Link li {
    margin-bottom: 5px;
}
.panel-body .footer_Link li {
    margin-bottom: 0;
}
.panel-body .footer_Link li a {
    display: inline-block;
    width: 100%;
    line-height: 32px;
    font-size: 16px !important;
    color: #a0a9b2 !important;
}
.copy__right {
    background: var(--main-color);
    font-size: 13px;
    padding: 8px 0;
    text-align: center;
}
.copy__right a {
    color: var(--color-text-main-bg) !important;
}
.copy__right a:hover {
    text-decoration: underline;
}
.less_foot {
    display: none;
}
/*========*/
.pad-l-r-20 {
    padding-left: 20px;
    padding-right: 20px;
}
.footer__main,
#footerMobile .panel-body .footer_Link li a,
#footerMobile .InfoCompany {
    text-align: left;
    font-weight: 400;
    font-size: 14px !important;
    line-height: 19px;
    color: #2c2c2c !important;
    margin-bottom: 10px;
}

.title_footer {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #2c2c2c;
    margin-bottom: 15px;
}

.footer .label {
    display: block;
    color: #666666;
    margin-bottom: 5px;
}

.footer .phone a,
.footer .email a {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.footer_com {
    border-left: 2px solid var(--main-color);
    padding-left: 22px;
}

.footer_com.address {
    display: flex;
    align-items: center;
    height: 51px;
}

.list_follow li {
    float: left;
    margin-right: 10px;
    width: 20px;
    text-align: center !important;
}

.list_follow li a {
    text-align: center !important;
}

.payment img {
    margin-right: 12px;
}
.sticky_fix {
    position: sticky !important;
}
.phone .sticky_fix {
    position: unset !important;
}
.slideDown .sticky_fix {
    top: 115px;
}
.slideUp .sticky_fix {
    top: 0px;
}
#footerMobile .box_follow .panel-heading h3 {
    margin-bottom: 13px;
}
#footerMobile .box-follow li {
    width: 40px;
    height: 33px;
    line-height: 33px;
    margin: 0;
}

#footerMobile .box-follow li a {
    text-align: left !important;
}

/*========*/
@media screen and (max-width: 1024px) {
    .vietiso-alo-phone {
        position: fixed;
        left: 0;
        bottom: 0;
        visibility: visible;
        background-color: transparent;
        width: 110px;
        height: 110px;
        cursor: pointer;
        z-index: 200000 !important;
    }
    .vietiso-alo-ph-circle {
        width: 90px;
        height: 90px;
        top: 12px;
        left: 12px;
        position: absolute;
        background-color: transparent;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid rgba(30, 30, 30, 0.4);
        opacity: 0.1;
        border-color: var(--main-color);
        opacity: 0.5;
    }
    .vietiso-alo-ph-circle-fill {
        width: 60px;
        height: 60px;
        top: 28px;
        left: 28px;
        position: absolute;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        background-color: rgba(241, 226, 48, 0.4);
        opacity: 0.75 !important;
    }
    .vietiso-alo-ph-img-circle {
        width: 30px;
        height: 30px;
        top: 43px;
        left: 43px;
        position: absolute;
        background: rgba(30, 30, 30, 0.1) url(../images/icon/phone_vietiso.png)
            no-repeat center center;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        border-radius: 100%;
        border: 2px solid transparent;
        opacity: 0.7;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        background-color: var(--main-color);
        background-size: 70%;
    }
    .zone__footer--main {
        margin: 30px 0 45px;
    }
    .company_info {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 991px) {
    .zone__footer--main {
        margin-bottom: 0;
    }
}
@media screen and (max-width: 550px) {
    .pageHowItWork .letUs h2 {
        font-size: 36px;
    }
}
div[class^="error_row_"],
div[class*="error_row_"],
span[class^="error_row_"],
span[class*="error_row_"] {
    color: red;
}
