.addthis-smartlayers-desktop{display:none!important}
.travelGuidePage{padding:30px 0}
.travelGuidePage .title32{padding:0!important}
.destinationLink{padding:10px}
.destinationLink h3{margin:0 0 10px}
.destinationLink ul{margin:0;padding:0}
.destinationLink ul li{list-style:none;line-height:36px;border-top:1px solid #dadada}
.destinationLink ul li ul li a{padding-left:20px}
.destinationLink ul li a{display:block;font-size:18px;color:#333;line-height:36px}
.destinationLink ul .active >a{color:var(--main-color);text-decoration:none}
.destinationLink ul li ul li.active >a{color:var(--main-color);text-decoration:none}
.destinationLink ul li a:hover{color:var(--main-color);text-decoration:none}
.destinationLink .h3_24_Bold{font-weight: bold}
.pd10{padding:10px}
.guideItem .image{position:relative}
.guideItem .image .figure{position:absolute;bottom:0;left:0;width:100%;height:36px;background:rgba(0,0,0,0.6);color:#fff;line-height:36px;padding:0 15px}
.guideItem .image .figure a{color:#fff}
.guideItem .name{padding:10px 0;height:62px;overflow:hidden}
.guideItem .name a{color:#3b444e;line-height:21px;display:block;font-size: 18px;font-weight: bold;}
.listGuideCat{padding:15px 10px;background:#fff}
.listGuideCat h3{padding:0 0 10px;position:relative}
.listGuideCat h3:after{content:"";display:block;margin-top:10px;height:2px;width:50px;background-color:var(--main-color)}
.listGuideCat .ULlink{padding:0}
.listGuideCat .ULlink li{list-style:none;line-height:22px;padding:5px 0;position:relative}
.listGuideCat .ULlink li a{color:#333}
.listGuideCat .ULlink li a:hover{color:var(--main-color)}
.MR_box{padding:15px 10px;background:#fff}
.MR_box h2.title{margin-bottom:10px!important}
.MR_box a.photo{display:inline-block}
.price-Inc{color:var(--main-color)}
.rightGuide h2{padding:0 0 10px;font-size:14px;font-weight:700;line-height:1.43;letter-spacing:.5px;color:#444;text-transform:uppercase;margin:0;text-align:left;position:relative}
.rightGuide ul{padding:0}
.rightGuide h2:after{content:"";display:block;margin-top:10px;height:2px;width:50px;background-color:var(--main-color)}
.rightGuide li{display:inline-block;width:100%;padding-bottom:8px}
.rightGuide a{font-weight:400;font-size:14px;line-height:21px;color:#333}
.guideDetail{padding:15px 10px}
.guideDetail h1.pane-title{font-weight: bold}
.guideDetail .post_meta{font-size:16px;color:#888;display: flex}
.Relateds-guide{position:relative}
.Relateds-guide .desc .name a{color:#3b444e;font-size:16px;line-height:21px;display:block}
#jcarousel-guide-Relateds .h_traveltip_item_fisrt{background:#fff}
#jcarousel-guide-Relateds .owl-dots{display:none!important}
.Relateds-guide .owl-theme .owl-controls .owl-nav .owl-next{display:block!important;right:0;width:45px;height:45px;display:block;position:absolute;background:url(home/new/sprite_home.png) no-repeat -116px 1px;top:-60px;opacity:1;text-indent:-9999%}
.Relateds-guide .owl-theme .owl-controls .owl-nav .owl-next:hover{background:url(home/new/sprite_home.png) no-repeat -116px -44px;opacity:.8}
.Relateds-guide .owl-theme .owl-controls .owl-nav .owl-prev{right:50px;width:45px;height:45px;display:block!important;position:absolute;background:url(home/new/sprite_home.png) no-repeat -116px 1px;top:-60px;opacity:1;text-indent:-9999%;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.Relateds-guide .owl-theme .owl-controls .owl-nav .owl-prev:hover{background:url(home/new/sprite_home.png) no-repeat -116px -44px;opacity:.8}
.listDestination{display:inline-block;width:100%}
.destinationAZ h2{margin:10px 0 0;color:#000;font-size:24px;line-height:24px;text-align:center;font-weight:400}
.destinationAZ h3.title{background-color:#f3f3f3;font-size: 16px;margin-bottom:7px;}
.destinationAZ .listDestinationByRegion h3.title{padding:0 10px;background-color:#f3f3f3;line-height:25px;font-size:15px;background:#fff;text-align:left;margin:10px 0 5px;display:inline-block;clear:both;width:100%}
.destinationAZ .listDestinationByRegion h3.title a{display:inline-block;width:auto;height:auto;color:#fff;background:var(--main-color);padding:0 10px}
.destinationAZ .listDestinationByRegion h3.title a:hover{color:#333!important}
.destinationAZ h3.title span{display:inline-block;width:29px;height:25px;line-height:25px;color:#fff;font-size:15px;background:var(--main-color);text-align:center}
.destinationAZ .listDestinationByRegion h3.title{padding:0 10px;background-color:#f3f3f3;line-height:25px;font-size:15px;background:#fff;text-align:left;margin:20px 0 10px;display:inline-block;clear:both;width:100%}
.destinationAZ .listDestinationByRegion h3.title span{display:inline-block;width:auto;height:auto;color:#fff;background:var(--main-color);padding:0 10px}
.CityRegionItem li{list-style:none}
.CityRegionItem li a{color:#333}
.grid-of-blog li a{color:#333;}
.grid-of-blog h3{color:#e89a08;text-transform:uppercase;}
.grid-of-blog{list-style:none;outline:medium none;width:100%;display:block;float:left;padding:0;margin:0 0 15px;width:15%;margin-right:2%}
.grid-of-blog:nth-child(6n){margin-right:0!important}
.grid-of-blog:nth-child(6n + 6){margin-right:0!important}
.pane-title{margin:10px 0 0;color:#000;font-size:24px;line-height:24px;text-align:center;font-weight:400}
.text-left{text-align:left!important}
.sb__cat_guide{background:#fff}
.MR_Items .rbox .title a{font-size:15px;font-weight:700;text-transform:uppercase;color:#333;line-height:20px}
.MR_Items .rbox .title{margin-top:15px}
.MR_Items .rbox img{margin:5px 0}
.MR_Items .rbox address{margin-bottom:5px}
.MR_Items li:not(:last-child){padding-bottom:5px;border-bottom:1px solid #ccc;margin-bottom:25px}
.box_guide_tour_relate{background:#fff;margin-bottom:15px;margin-top:20px;width:100%}
.box_guide_tour_relate .image{position:relative}
.box_guide_tour_relate .image .h-bottom{background:-moz-linear-gradient(top,transparent 0%,transparent 38%,rgba(0,0,0,0.5) 97%,#000 100%);background:-webkit-linear-gradient(top,transparent 0%,transparent 38%,rgba(0,0,0,0.5) 97%,#000 100%);background:linear-gradient(to bottom,transparent 0%,transparent 38%,rgba(0,0,0,0.5) 97%,#000 100%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#000000',GradientType=0);position:absolute;bottom:0;z-index:1;color:#fff;padding:25px 10px 5px!important;width:100%;font-size:12px}
.box_guide_tour_relate .body{padding:10px;display:inline-block;width:100%}
.box_guide_tour_relate .bottom{display:inline-block;width:100%}
.box_guide_tour_relate .body .name a{font-size:16px;line-height:21px;font-weight:700;display:inline-block}
.box_guide_tour_relate .left{padding:5px 0;float:left}
.box_guide_tour_relate .price .price_left{position:relative;float:left}
.listDestinationByRegion .CityRegionItem {padding-left: 0}
.original_price{color:rgba(59,68,78,0.5);font-size:12px;position:relative;display:inline-block;margin-right:5px;font-weight:700;padding-top:3px;text-decoration:line-through}
.box_guide_tour_relate .price .discounted_price{float:left;color:#ec3237;line-height:24px;font-weight:700}
.related__Box .item__tour {
transition: .4s all;
    margin-bottom: 10px;
    padding: 0 2px;
}

.related__Box .item__tour .image a {
    display: block;
    width: 100%;
    height: 100%;
}
.related__Box .image .duration {
    position: relative;
    width: 100%;
    position: absolute;
    bottom: 7px;
    padding-left: 15px;
    color: #eefb3b;
}
.related__Box .item__tour .promotion {
    position: absolute;
    right: 12px;
    top: 0;
    width: 50px;
    height: 50px;
    font-size: 17px;
    font-weight: bold;
    display: flex;
    align-content: center;
    align-items: center;
    background: var(--main-color);
    justify-content: center;
    z-index: 9;
}
.related__Box .item__tour .promotion:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -12px;
    right: 0;
    border-right: 25px solid var(--main-color);
    border-bottom: 12px solid transparent;
    border-left: 25px solid var(--main-color);
    margin: 0;
    z-index: 9;
}
.related__Box .item__tour .body {
    height: 168px;
    overflow: hidden;
    background: #fff;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    -o-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
.related__Box .body__title {
    font-size: 18px;
    margin-bottom: 7px;
    font-weight: bold;
    height: 42px;
    line-height: 21px;
}
.related__Box .body__title a {
    display: inline-block;
    width: 100%;
}
.related__Box .tour_rate label {
    margin-right: 10px;
}
.tour__header .tour_rate {line-height: 18px}

.related__Box .additional_infor {
    margin-top: 3px;
    display: flex;
}
.related__Box .additional_infor a {
    color: #1c1c1c;
    display: inline-block;
    margin-left: 3px;
}
.related__Box .additional_infor i{
    margin-right: 5px;
}
.related__Box .item__tour .price {
    display: flex;
    align-items: center;
    margin-top: 8px;
}
.related__Box .item__tour .price del {
    margin-right: 10px;
}
.related__Box .item__tour .price {
    flex-direction: row-reverse;
}
.related__Box .owl-prev {
    left: -18px;
    top: 90px;
}
.related__Box .owl-next {
    top: 90px;
    right: -18px;
}
.related__Box .item__tour:hover  {
    transform: translateY(-10px);
}
.related__Box .item__tour .image a:after {
    content: '';
    width: 100%;
    position: absolute;
    height: 50%;
    left: 0;
    /* background-color: rgba(0,0,0,0.3); */
    background: none;
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    top: auto;
    bottom: 0;
}
.price__Box{
    background: #fff;
    z-index: 9;
}

.offerDate .clock {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
}
.offerDate .clock li {
    display: inline-block;
    width: 25%;
    float: left;
    position: relative;
    text-align: center;
}
.clock.lastHour li>span {
    font-weight: bold;
    font-size: 24px;
}
.clock.lastHour li>p {
    color: #666;
    font-size: 14px;
    text-transform: uppercase;
}
.offerDate .clock li:not(:last-child):after {
    position: absolute;
    top: 0;
    right: -5px;
    font-size: 25px;
    content: ":";
}

.sale_off {
    background: #fff7d7;
    border: 1px solid #f7efcf;
    color: #fb1111;
    font-weight: bold;
    text-align: right;
    padding: 6px 10px;
}
@media only screen and (max-width: 991px) {
.travelGuidePage .clearfix2{clear:both}
.grid-of-blog{list-style:none;outline:medium none;width:100%;display:block;float:left;padding:0;margin:0 0 15px;width:23%;margin-right:2.5%}
.grid-of-blog:nth-child(6n){margin-right:2.5%!important}
.grid-of-blog:nth-child(6n + 6){margin-right:2.5%!important}
.grid-of-blog:nth-child(4n){margin-right:0!important}
.grid-of-blog:nth-child(4n + 4){margin-right:0!important}
}
@media only screen and (max-width: 767px) {
.grid-of-blog{list-style:none;outline:medium none;width:100%;display:block;float:left;padding:0;margin:0 0 15px;width:32%;margin-right:2%}
.grid-of-blog:nth-child(6n){margin-right:2%!important}
.grid-of-blog:nth-child(6n + 6){margin-right:2%!important}
.grid-of-blog:nth-child(4n){margin-right:2%!important}
.grid-of-blog:nth-child(4n + 4){margin-right:2%!important}
.grid-of-blog:nth-child(3n){margin-right:0!important}
.grid-of-blog:nth-child(3n + 3){margin-right:0!important}
.pd060{padding:20px 0!important}
}
@media only screen and (max-width: 550px) {
.travelGuidePage .col-xs-6{width:100%!important}
.travelGuidePage .clearfix1{clear:both}
}
@media only screen and (max-width: 500px) {
.grid-of-blog{list-style:none;outline:medium none;width:100%;display:block;float:left;padding:0;margin:0 0 15px;width:49%;margin-right:2%}
.grid-of-blog:nth-child(6n){margin-right:2%!important}
.grid-of-blog:nth-child(6n + 6){margin-right:2%!important}
.grid-of-blog:nth-child(4n){margin-right:2%!important}
.grid-of-blog:nth-child(4n + 4){margin-right:2%!important}
.grid-of-blog:nth-child(3n){margin-right:2%!important}
.grid-of-blog:nth-child(3n + 3){margin-right:2%!important}
.grid-of-blog:nth-child(2n){margin-right:0!important}
.grid-of-blog:nth-child(2n + 2){margin-right:0!important}
}
@media only screen and (max-width: 340px) {
.grid-of-blog{list-style:none;outline:medium none;width:100%;display:block;float:left;padding:0;margin:0 0 15px;width:100%;margin-right:0}
.grid-of-blog:nth-child(6n){margin-right:0!important}
.grid-of-blog:nth-child(6n + 6){margin-right:0!important}
.grid-of-blog:nth-child(4n){margin-right:0!important}
.grid-of-blog:nth-child(4n + 4){margin-right:0!important}
.grid-of-blog:nth-child(3n){margin-right:0!important}
.grid-of-blog:nth-child(3n + 3){margin-right:0!important}
.grid-of-blog:nth-child(2n){margin-right:0!important}
.grid-of-blog:nth-child(2n + 2){margin-right:0!important}
}
@media only screen and (min-width: 992px) {
.travelGuidePage .clearfix3{clear:both}
}