.testimonialPage{padding:40px 0!important}
.page_container{background:#fff!important}
.postTestimonial{padding-bottom:30px;padding-top:30px}
.testimonialPage h1{font-weight:700}
.testimonialsRight .widget-book-us{background:#fff}
.pagination{float:left}
.pager{padding-left:0;margin:20px 0;text-align:center;list-style:none}
.pagination .total_page{border:1px solid #d7d7d7;width:auto;padding:0 20px}
.pagination a{display:inline-block;float:none;text-align:center;color:#999;width:40px;height:40px;line-height:40px;background:#fff;border:1px solid #d7d7d7;margin-right:10px;position:relative;margin-bottom:10px}
.pagination .prev{display:none}
.pagination a.current{background:var(--main-color);color:#fff}
.pd1510{padding:15px 10px!important}
.aboutRight .pane-content ul li a:hover{color:#fff!important}
.panel-panel-inner .pane-content ul li{width:100%;border-bottom:1px solid;padding:7px 0}
.panel-panel-inner{padding:15px;background-color:#fff;border:0 solid #dedede!important;margin-bottom:30px}
.panel-panel-inner .panel-pane.pane-views-panes{padding-top:0;padding-bottom:25px;border-top:0}
.panel-panel-inner .panel-pane.pane-views-panes p.h3{font-size:20px;font-weight:700;line-height:1.43;letter-spacing:.5px;color:#444;text-transform:uppercase;margin:0 0 10px;text-align:left}
.infocompany .panel-pane.pane-views-panes p.h3:after{content:"";position:absolute;width:115px;height:1px;bottom:-5px;left:0;background-color:var(--main-color)}
.panel-panel-inner .pane-content{margin-top:0}
.infocompany .panel-pane{padding:15px 15px 55px 20px}
.panel-panel-inner .pane-content ul{list-style:none;margin:0;padding:0}
.panel-panel-inner .pane-content ul li{display:inline-block;width:100%}
.panel-panel-inner .pane-content ul li span{color:#1c1c1c}
.panel-panel-inner .pane-content ul li a{font-size:16px;line-height:21px;color:var(--color-text-main-bg)}
.panel-panel-inner .pane-content ul li a:hover{border-bottom:1px solid}
.infocompany .pane-content ul li a{color:#1c1c1c}
.infocompany .pane-content ul li{border:none}
.infocompany .panel-pane.pane-views-panes p.h3{color:#1c1c1c;position:relative}
.infocompany .nameComp{color:var(--main-color)}
.panel-panel-inner .panel-pane.pane-views-panes{padding-bottom:0!important}
.panel-panel-inner .pane-content ul li:last-child{border:none}
.testimonials-title a{font-size:18px;color:#1c1c1c;line-height:24px;display:inline-block}
.introCrx *{font-size:15px}
.item i{position:relative}
.item i:after{position:absolute;background-repeat:no-repeat}
.testimonialPage .item .photo{width:260px;height:200px;display:inline-block;float:left}
.testimonialPage .item .title{width:calc(100% - 260px);float:right;padding:15px 0 0 35px}
.testimonialPage .item .title .testimonials-title{font-size:20px;color:#1c1c1c;font-weight:700}
.testimonialPage .item .title .testimonials-title:hover{color: var(--main-color-2);}
.testimonialPage .item .introCrx{margin:15px 0 25px}
.aboutRight{background:var(--main-bg-color);color:#fff;padding:15px 15px 15px 20px}
.aboutRight p.h3{color:var(--color-text-main-bg)!important}
.aboutRight ul li{font-size:18px;text-transform:uppercase;padding-left:10px!important}
.infocompany{margin:35px 0;border:1px solid var(--main-color)!important;padding:15px 0 50px}
.boxRightCol{border:1px solid var(--main-color)}
.boxRightCol .boxWhyCol{padding:25px 15px 30px}
.boxRightCol .boxWhyCol .more {color: var(--main-color-2)}
.boxRightCol .boxWhyCol .more:hover {text-decoration: underline}
.MH_box{padding:5px 15px;margin-bottom:20px}
.listTestimonial .item{display:inline-block;width:100%;position:relative;padding:30px 0;border-bottom:1px solid #e1e1e1;vertical-align:top}
.listTestimonial .item a{color:#1c1c1c}
.item .image{width:100%;padding-bottom:15px}
.MH_box .title{padding-bottom:10px}
.bore-right{border:1px solid #dedede;border-radius:3px;padding-top:10px;padding-bottom:20px}
h1.title{font-size:25px!important}
.header-top{margin-top:70px}
.MR_box_UL>li{padding:11px 4px 11px 10px}
.SegoeUILight{padding-bottom:10px}
.MH_box{padding:5px 15px;margin-bottom:20px}
.item .image{width:100%;padding-bottom:15px}
.MH_box .title{padding-bottom:10px}
.bore-right{border:1px solid #dedede;border-radius:3px;padding-top:10px;padding-bottom:20px}
.MR_box_UL>li{padding:11px 4px 11px 10px}
.page *{color:#333}
.formatTextStandard{line-height:1.8}
.readmore-list{color:#fb1111;border-bottom:1px solid}
.readmore-list:hover{color:#07788c!important}
.testimonialBody .pane-content h3{text-align:left!important}
.testimonialBody .panel-pane{padding-top:0!important;margin-top:0!important}
.section_box.why {margin-top: 60px}
@media only screen and (max-width: 790px) {
.testimonialPage .item{margin:0}
.testimonialPage .item:after{display:none}
.introCrx{text-align:justify;margin-top:15px}
.testimonialPage{margin-top:25px}
.banner .titlebanner{bottom:50%;width:100%;font-size:35px}
}
@media only screen and (max-width:767px) {
.item{padding-bottom:15px}
.bore-left{margin-top:60px}
.aboutRight .pane-content ul li{padding-left:10px!important}
.panel-panel-inner .panel-pane.pane-views-panes h3{padding-left:10px}
.testimonialPage .item{min-height:200px;margin:0}
.testimonialPage .item:after{display:none}
.testimonialPage .item .photo img{display:block;width:100%}
.testimonialPage{margin-top:25px}
.banner .titlebanner{bottom:50%;width:100%;font-size:35px}
}
@media only screen and (max-width:550px) {
.testimonialPage .item .title{width:100%;padding:0;float:none}
.testimonialPage .item{height:100%;margin:0}
.testimonialPage .item:after{display:none}
.testimonialPage .item .photo{width:100%;height:100%;float:none}
.testimonialPage .item .photo img{display:block;width:100%}
.testimonialPage{margin-top:25px}
.banner .titlebanner{bottom:50%;width:100%;font-size:35px}
}
@media only screen and (max-width: 480px) {
.testimonialPage .item .title{width:100%;padding:0;float:none}
.testimonialPage .item{height:100%;margin:0}
.testimonialPage .item:after{display:none}
.testimonialPage .item .photo{width:100%;height:100%;float:none}
.testimonialPage .item .photo img{display:block;width:100%}
.testimonialPage{margin-top:25px}
.banner .titlebanner{bottom:50%;width:100%;font-size:35px}
}