p{
	margin: 0;
	padding: 0;
}
.bg_f9f9f9{background: #f9f9f9}
.page_voucher .maincontent .introPage{display: inline-block; width: 100%;}
.addthis-smartlayers{display: none}
/*detail*/
.TextVat{font-weight: 600}
.body_info_voucher{min-height: 86px}
#at15s{margin-top: 5px!important}
.breadcrumb{padding: 15px 0 10px}
.contentVoucher{margin-top: 15px}
.ContentRight .facebook{width: 105px;height: 40px;line-height: 45px;text-align: center;background: #425dac;color: white;;border-radius: 5px;display: inline-block;margin-right: 5px;margin-bottom: 0;position: relative;padding-left: 15px}
.ContentRight .facebook:after{position: absolute;content: "";background: url(../images/icon/iconshareVoucher.png);width: 20px;height: 20px;background-position: 0 0;top: 10px;left: 15px}
.ContentRight .addthis_counter {height: 40px!important; margin-bottom: 0;}
.ContentRight .fb-like {height: 40px !important; background: #1877f2 !important; border-radius: 6px; padding: 10px 5px 0;margin-bottom: 5px}
.ContentRight .addthis_button_compact{width: 100px;height: 40px!important;line-height: 40px!important;text-align: right;background-color: #fff!important;color: #1a2b49!important;border: 1px solid!important;border-radius: 5px!important;padding: 0!important;font-size: 16px!important;display: block!important;position: relative;padding-right: 5px!important}
.ContentRight .addthis_button_compact:after{position: absolute;content: "";background: url(../images/icon/iconshareVoucher.png);width: 19px;height: 19px;background-position: -26px 0;background-repeat: no-repeat;top: 10px;left: 15px;}
.LocationRight .contentRight{box-shadow: 0 0 5px 3px #ededed;padding: 25px 30px}
#map{min-height: 235px}
.LocationRight .titleLocation{font-size: 18px;font-weight: 600;padding: 18px 0 10px;border-bottom: 2px solid var(--main-bg-color);margin-bottom: 10px}
.LocationRight .address{margin-bottom: 25px}
#reviews{padding: 0}
#reviews .btn_write_review{
	position: unset;
	margin-top: 10px;
	margin-right: 23px;
	border-radius: 80px;
	border: 1px solid var(--main-bg-color);
	background:var(--main-bg-opcity-30);
	color: #1A2B49;
	font-size: 16px;
	font-weight: 600;
}
.stories ,.totlalReview{background: inherit!important}
.list_tab .section__box{margin-bottom: 40px}
.contentVoucher p.title{font-size: 18px;font-weight: 600;margin-top: 10px}
.list_tab{margin-top: 40px}
#tabsk{background: #fff;z-index: 9}
.contentPage{margin-top: 15px}
.contentPage ul.clienttabs{border-bottom: 1px solid rgba(0, 0, 0, 0.1)
}
.contentPage ul li a{color: #454545;font-size: 16px;padding: 20px 0;display: block;margin-right: 35px}
.contentPage ul li a.current{color: #1c1c1c}
.contentPage ul li a.current{
	position: relative;
	font-weight: 600;
}
.contentPage ul li a.current:after{position: absolute;content: "";width: 100%;height: 2px;bottom: -1px;left: 0;background: var(--main-bg-color)!important}
.durationAndTotal{padding-bottom: 15px}
.contentVoucher h1.title{
	color: #1C1C1C;
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 39.2px;
	width: calc(100% - 40px);
}
.phone .contentVoucher h1.title{width: 100% !important}
.contentVoucher .viewIntroPage{overflow: hidden;position: relative}
.contentVoucher .read__more{cursor: pointer;margin-top: 5px;color: #07C;text-align: center;font-size: 16px;font-weight: 500;}
.durationAndTotal .duration{color: #666}
.durationAndTotal .totalBook{color: #24b985}
.contentRight .PriceDetail{}
.contentRight .ContentLeft{display: inline-block}
.contentRight .ContentLeft .oldPrice{display: block;font-size: 18px}
.contentRight .ContentLeft .newPrice{font-size: 36px;color: #fb1111;font-weight: 600}
.contentRight .ContentLeft .priceol{text-decoration-line:line-through}
.contentRight .ContentRight{float: right}
.contentRight .ContentRight .st-btn[data-network='pinterest'],.contentRight .ContentRight .st-btn[data-network='twitter']{display: none!important}
.contentRight #st-1 .st-btn[data-network='facebook']{min-width: 105px}
.BookVoucher .topBox{padding-bottom: 20px}
.BookVoucher .topBox .totalVoucher{position: relative;padding-left: 45px;font-size: 18px;min-height: 25px;display: inline-block}
.BookVoucher .topBox .totalVoucher:after{position: absolute;content: "";background: url(../images/icon/iconVoucher.png);width: 30px;height: 25px;top: 0;left: 0;background-repeat: no-repeat;background-position: 0 0}
.BookVoucher .topBox .countdown{padding-left: 30px;margin-left: 40px;position: relative;font-size: 18px;min-height: 25px;display: inline-block}
.BookVoucher .topBox .countdown:after{position: absolute;content: "";background: url(../images/icon/iconVoucher.png);background-position: -33px 0;background-repeat: no-repeat;width: 20px;height: 20px;bottom: 3px;left: 0}
.BookVoucher #voucherGroup_id{width: 100px;height: 45px;border: 1px solid #ccc;border-radius: 3px;padding-left: 10px}
.BookVoucher .bookVoucher{width: 150px;height: 45px;background: var(--main-bg-color);display: inline-block;text-align: center;text-transform: uppercase;color: #1c1c1c;line-height: 45px;font-weight: 600;margin-left: 5px;border: none;border-radius: 3px}
.BookVoucher .OutVoucher{opacity: 0.5} 
.owl-next{right: 20px;top: calc(50% - 22px)}
.owl-prev{left: 20px;top: calc(50% - 22px)}

.phone .owl-next{right: 20px;top: calc(50% - 15px)}
.phone .owl-prev{left: 20px;top: calc(50% - 15px)}
.it-body .list-check ul{padding: 0}
.it-body .list-check li{position: relative;padding-left: 20px;list-style-type: none}
.it-body .list-check.plus li:after{position: absolute; width: 10px;height: 11px;top: 7px;left: 0;background: url(../images/icon/icon_check.png);content: "";background-repeat: no-repeat;}
.it-body .list-check.minus li:before{position: absolute;width: 10px;height: 14px;top: 5px;left: 0;background: url(../images/icon/icon_exclution.png);content: "";background-repeat: no-repeat;}
/*new*/
.introPage .introbox .intro{font-size: 18px;line-height: 1.6}
.itemTrip{padding: 0}
.itemTrip .image .duration{color:#FFF;}
.contentListTravel{margin-bottom: 100px}
.listTourItem{margin-bottom: 20px}
.listTourItem .col_item:nth-child(3n+1){clear: left}
.maincontent h1.title{
	color: #1C1C1C;
	font-size: 46px;
	font-weight: 600;
	line-height: 69px;
	text-transform: uppercase;
	margin: 30px 0 25px;
}
.page_voucher .introbox{
	text-align: center;
}
.box__padding{padding-top: 10px}
.PageSearch{margin-top: 150px}
.itemTrip .image .duration i{padding-right: 5px}
.itemTrip .image .countdown{position: absolute;top: 15px;right: 15px;padding: 5px 10px 5px 28px; border-radius: 3px;font-size: 14px}
.itemTrip .image .icon{position: absolute;background: url(../images/icon/iconVoucher.png);width: 15px;height: 15px;background-position: -20px 0;background-repeat: no-repeat;top: 9px;left: 7px;background-size: 37px}
.body_info_voucher .body_review{font-size: 14px;color: #666;margin-right: auto}
.body_info_voucher .body_price{text-align: right}
.body_info_voucher .body_price p{margin: 0}
.body_info_voucher .body_price p.p_text{font-size: 12px; line-height: 18px; font-weight: 400; color: #666;}
.body_info_voucher .body_price p.p_price{font-size: 16px; line-height:24px; font-weight:600; color: #F00}
.body_info_voucher .body_price p.p_price .currency{font-size: 14px}
.body_info_voucher .oldPrice{display: block;color: #666}
.body_info_voucher .oldPrice .priceol{text-decoration-line: line-through}
.body_info_voucher .newPrice {color: #fb1111;font-size: 22px;font-weight: 600}
.body_info_voucher .totalBook {float: right;color: #24b985;line-height: 30px}
.itemTrip .body{
	height: auto;
	box-shadow: 0 2px 7px rgba(0, 0, 0, 0.12);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, 0.12);
}
.itemTrip .image:after{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.totalTour .totalTourpage{
	height: 50px;
	background: var(--main-color);
    color: var(--color-text-main-bg);
	border-radius: 3px;
	text-align: center;
	width: 95%;
	font-size: 18px;
	font-weight: 600;
	line-height: 50px;
}
.findBoxCity .title{margin: 30px 0 20px;font-size: 20px;font-weight: bold}
.findBox .title{
	color: #1C1C1C;
	margin: 20px 0 10px;
	font-size: 18px;
	line-height: 27px;
	font-weight: 600
}
.findBox .title2{margin: 0px 0 10px;font-size: 18px;font-weight: bold}
.findBox,.findBoxCity {border-bottom: 1px solid #e5e5e5;padding-bottom: 10px}
.findBoxCity .findBox{border-bottom: 0}
.findBox ul{padding: 1px 0 0 1px;list-style-type: none;overflow: hidden}
.findBox ul li label{
	color: #333;
	font-size: 16px;
	font-weight: 400;
	padding-left: 15px;
	line-height: 24px;
}
.findBox .readmore{color:#07C;font-size: 16px;cursor: pointer}
.contentListTravel .filter_left{border-right: 1px solid #e5e5e5;}
/*Custom find*/
#filters_form2 .findBox ul li{align-items: center}
#filters_form2 .findBox ul li input{position: relative;-moz-appearance:initial;width: 15px;height: 15px;top: 0;}
#filters_form2 .findBox ul li input:after{position: absolute;content: "";width: 15px;height: 15px;border: 1px solid #BBB;background: white;border-radius: 2px;top: 0;left: 0}
#filters_form2 .findBox ul li input:checked:after {background-color: var(--main-color);color: white;content: '';position: absolute;background-position: 0 -4px;top: 0}
#filters_form2 .ui-slider .ui-slider-handle{border: 1px solid #d3d3d3}
.ui-slider-horizontal{height: 8px;background: #e3e3e3;margin-top: 15px;border-radius: 0!important;border: none;width: calc(100% - 35px);margin-left: 10px}
#slider-range2 .ui-slider-range,#slider-price2 .ui-slider-range{background: var(--main-color)}
.ui-slider-handle{border-radius: 100%;background: white!important;top: -7px!important;outline: none}
/*Pagination*/
.pagination{float:right}
.pagination .page{width: 32px;height: 32px;display: inline-block;text-align: center;color: #999;line-height: 32px;border-radius: 3px;border: none;}
.pagination .current{background: var(--main-color);border: none;color: #000}
.pagination .disabled{display: none}
/**/
.bookVoucher.OutVoucher{
	border: none;
	display: block;
	margin-top: 10px;
	width: 234px;
	height: 40px;
	border-radius: 3px;
	color: #1A2B49;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}

.PriceDetail .box_button_submit{
	display: flex;
}
@media (min-width: 992px){
	.contentListTravel .modal-body{padding: 0}
	#filter_search.modal{position:relative;display:block;opacity:1;z-index:1}
#filter_search .modal-header{display:none}
#filter_search .modal-body{padding:0!important}
}
@media (max-width: 991px){
	.listTourItem .col_item:nth-child(3n+1){clear: none}
	.listTourItem .col_item:nth-child(2n+1){clear: left}
	#filter_search.modal{z-index:99999999;background:#fff}
	#filter_search.modal,#modalQuickSearch.modal{z-index:99999999;background: rgba(0,0,0,0.5); padding-left: 0 !important}
#filter_search.modal{background:#fff}
    .bookVoucher.OutVoucher{width: 100%;}
}
@media (max-width: 767px){
	.list_tab{padding: 0;margin-top: 0}
	#reviews .btn_write_review{display: block;width: 100%;top: 15px;right: 0!important;margin-top: 0}
	.contentPage ul.clienttabs{display: block}
	.contentVoucher h1.title{margin-top: 20px;text-align: center;font-size: 24px}
	.durationAndTotal,.viewIntroPage ,.read__more{text-align: center}
	.fb_iframe_widget{display: none!important}
	#tabsk{display: none}
	.contentPage{margin-bottom: 0}
}
@media (max-width: 480px){
	.contentRight .ContentRight{float: unset}
}
@media (max-width: 400px){
	.BookVoucher .topBox span{display: block!important}
	.BookVoucher .topBox .countdown{margin-left: 0;margin-top: 10px}
}
.voucher_cat_top{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
	gap: 10px;
}
.voucher_cat_top .voucher_cat_item{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 16px;
	height: 45px;
	background-color: #EFEFEF;
	border-radius: 3px;
}
.voucher_cat_top .voucher_cat_item a{
	color: #242424;
	font-size: 16px;
	font-weight: 500;
	line-height: 22.4px;
}

.PageSearch .titlebox {
	color: #1C1C1C;
	font-size: 46px;
	font-weight: 600;
	line-height: 69px;
	text-transform: uppercase;
	margin: 30px 0 25px;
	text-align: center;
}
.topDetailVoucher {
	background-color: white;
	padding: 30px 20px;
}
.topDetailVoucher .owl-prev,
.topDetailVoucher .owl-next{
	width: 44px;
	height: 44px;
	background-color: var(--main-color)!important;
    color: var(--color-text-main-bg) !important;
	border-radius: 0;
	border: none!important;
}
.topDetailVoucher .owl-prev span,
.topDetailVoucher .owl-next span{
	font-size: 40px;
}
.topDetailVoucher .p_price{
	color: #F00;
	font-size: 26px;
	font-weight: 600;
	line-height: 39px;
}
.topDetailVoucher .p_price .currency{
	font-size: 22px;
}
.phone .topDetailVoucher .sliderImage  img{height: auto}
.p_price del{
	margin-right: 10px;
	color: #1c1c1c;
	font-size: 16px;
	font-weight: 400;
}
.p_price del .currency{
	font-size: 16px!important;
}
.share_box{position: relative}
.share_news {position: absolute; top: 0!important;right: 0!important;margin-top:25px!important;margin-right: -6px!important;display: none!important}
.share_box.open .share_news{display: block!important;}
.share_news .sharer-icons a{margin-left: 0!important;margin-bottom: 5px!important;}
.share_news .sharer-icons{display: block!important;background-color: white}
.box_title_voucher_detail{
	display: flex;
	justify-content: space-between;
	gap: 20px;
}
.icon_share{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #EAECF0;
	cursor: pointer;
}
.number_people_bought .icon_share{margin-left: auto}
.number_people_bought{
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 10px 0 40px;
}
.phone .number_people_bought{margin-bottom: 10px;}
.count_value_text{
	color: #666;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
}
.btn_book_now,.btn_add_cart{
	border: none;
	width: 234px;
	height: 40px;
	border-radius: 3px;
	color: #1A2B49;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
.btn_book_now{
	background: var(--main-bg-color);
	margin-right: 13px;
}
.btn_add_cart{
    border: 1px solid var(--main-color) !important;
    background:var(--main-bg-opcity-30) !important;
}
.PriceDetail .count_voucher{
	margin-top: 8px;
	margin-bottom: 27px;
	display: flex;
	gap: 34px;
	align-items: center;
}
.title_tab{
	position: relative;
	padding-left: 23px;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}
.title_tab:after{
	position: absolute;
	content: "";
	width: 7px;
	height: 26px;
	left: 0;
	bottom: 4px;
	border-radius: 10px;
	background: var(--main-bg-color);
}
.wrap_list_tab{
	padding: 0 20px;
}
.wpcf7-spinner .ui-spinner {
	padding: 2px;
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	align-items: center;
	height: 44px;
}
.wpcf7-spinner .ui-spinner-input {
	order: 2;
	-ms-order: 2;
	-webkit-order: 2;
	width: 46px;
	border: 0;
	text-align: center;
	color: black;
	font-size: 16px;
}
.wpcf7-spinner .ui-spinner-button {
	display: block;
	width: 32px;
	height: 32px;
	font-size: 21px;
	border: 0 !important;
	color: #9E9E9E;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-align: center;
	padding: 0;
	background: #FAFAFA;
}
.wpcf7-spinner .ui-spinner-up {
	order: 3;
	-ms-order: 3;
	-webkit-order: 3;
}
.wpcf7-spinner .ui-spinner-down {
	order: 1;
	-ms-order: 1;
	-webkit-order: 1;
}
.wpcf7-spinner .ui-widget-content{
	border: none;
}
.list_tab .overall__rating {
	justify-content: right;
}
.list_tab .stories{
	border-radius: 3px;
	background: #FFFDF2!important;
	padding: 36px 103px 36px 25px;
}
.list_tab .stories .title_review_box{
	display: none;
}
.overall__rating .box__left{
	padding-top: 0;
	padding-right: 64px;
	background: #FFFDF2;
}
.totlalReview .starReview{
	background: #FFFDF2;
}
.totlalReview .starReview .txt_rate{
	line-height: 24px;
	color:#1C1C1C;
}
.overall__rating .total__reviews {
	color: #666;
}
.list_tab .overview ul{
	padding-left: 1rem;
	margin: 0;
}
.list_tab .overview ul li {
	list-style: none;
	position: relative;
	padding-left: 25px;
}
.list_tab .overview ul li:before{
	position:absolute;
	content:"";
	width:13px;
	height:13px;
	top:6px;
	left:0;
	background:url(/isocms/templates/default/skin/images/icon/icon_iso.png) -385px -12px no-repeat;
}
.list_tab .condition ul li::marker{
	color: #666;
}
.text_review_bottom{
	margin-top: 15px;
	color: #000;
	font-size: 16px;
	font-weight: 500;
	line-height: 150%;
	text-align: center;
	padding-bottom: 30px;
}
.text_review_bottom a{
	color: #07C;
}
.modal.fade .modal-dialog {
	margin-top: 0;
}
.btn_book_now, .btn_add_cart,.contact_now{
	border: none;
	width: 234px;
	height: 40px;
	border-radius: 3px;
	color: #1A2B49;
	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
}
.contact_now{
	margin-top: 10px;
}
.short_content.shorted,
.short_content.lessmore{
	overflow:hidden;
	position:relative;
}
.short_content.lessmore{
	padding-bottom:25px;
}
.short_content.shorted:after{
	content:"";
	width:100%;
	height:80px;
	position:absolute;
	left:0; bottom:0; right:0;
	background: linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,.95),#fff);
	background: -moz-linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,.95),#fff);
	background: -webkit-linear-gradient(hsla(0,0%,100%,0),hsla(0,0%,100%,.95),#fff);
}
.short_content.lessmore .more,
.short_content.shorted .more{
	position:absolute;
	left:50%; bottom:0;
	transform:translateX(-50%);
	color: #07C;
	padding-right:15px;
	display:inline-block;
	cursor:pointer;
	z-index:2;
	font-size: 16px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0.56px;
}

.short_content.shorted .more:after{
	position:absolute;
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f107";
	right:0; top:3px;
}
.short_content.lessmore .more:after{
	position:absolute;
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f106";
	right:0; top:3px;
}

@media (min-width: 768px){
	.modal.fade .modal-dialog {
		transition: unset;
		transform: unset;
	}
	.modal-content{
		border: unset;
	}
	.findBox:last-child{
		border-bottom: none;
	}
}
@media (max-width: 991px){
	.modal-dialog h2 .close{
		background: none;
		border: none;
	}
	.modal-dialog h2 .close span{
		color: black;
	}
	.modal-dialog h2{
		font-size: 22px;
	}
	.btn_book_now{
		margin: 0 0 10px;
        width: 100%;
	}
	.list_tab .overall__rating{
		justify-content: left;
	}
	.filter_left .findBox:last-child{
		border-bottom: none;
	}
}
@media (max-width: 767px){
	.contentRight .ContentLeft .newPrice {
		font-size: 16px;
	}
	.list_tab .overall__rating {
		display: block!important;
	}
	.totlalReview .starReview {
		width: 100%;
		margin-top: 15px;
	}
	.list_tab .stories {
		padding: 0;
	}
	.voucher_cat_top{
		margin-top: 15px;
	}
	.maincontent h1.title {
		font-size: 26px;
		line-height: 1.42;
		margin-top: 25px;
		margin-bottom: 15px;
	}
	.wrap_list_tab {
		padding: 0!important;
	}
	.topDetailVoucher {
		padding: 0;
	}
	#reviews{
		margin-bottom: 0;
	}
	.topDetailVoucher .owl-next {
		right: 5px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}
	.topDetailVoucher .owl-prev {
		left: 5px;
		width: 30px;
		height: 30px;
		border-radius: 50%;
	}
}



