@font-face{font-family:'FSBlonde';src:url(fonts/FSBlonde/FSBlondeScript.eot);src:local(☺),url(fonts/FSBlonde/FSBlondeScript.woff) format("woff"),url(fonts/FSBlonde/FSBlondeScript.ttf) format("truetype"),url(fonts/FSBlonde/FSBlondeScript.svg) format("svg");font-weight:400;font-style:normal}
.banner{min-height:175px !important}
.content_banner{position:absolute;width:100%;top:calc(50% - 65px);z-index:1}
.content_banner h2{font-size:27px;color:#fff;margin:0 0 20px;line-height:32px}
.search_home_page{padding:0 10px 10px}
.title_find_trip{margin:0 0 15px!important;font-size:56px!important;letter-spacing:1px;font-weight:400!important;text-align:center;font-family:'FSBlonde';color:#fff}
.nav_agent{display:inline-block;width:100%;margin-top:50px;margin-bottom:70px;background:#f5f5f5;padding:0;text-align:center}
.nav_agent ul{margin:0;padding:0}
.nav_agent li{display:inline-block;margin:0 25px}
.nav_agent li a{line-height:20px;font-weight:700;color:#666;text-transform:uppercase;padding:15px 0;display:block}
.nav_agent li a.current{border-bottom:3px solid #f16f30;color:#f16f30}
.ul_nav_agent2{padding:0}
.ul_nav_agent2 li{display:inline-block;width:100%;list-style:none}
.ul_nav_agent2 li a{line-height:30px;color:#333;display:block;padding:0 10px 0 15px}
.ul_nav_agent2 li a.current,.ul_nav_agent2 li a:hover{color:#fff!important;background:#f16f30}
.boxAgent{display:inline-block;width:100%;padding:70px 0 60px}
.why_agent_box{display:inline-block;width:100%;margin-top:50px}
.why_agent_box .why_agent_item{text-align:center;padding:0 10px}
.why_agent_item img{width:auto!important;margin:0 auto 25px}
.why_agent_box .why_agent_item h3{font-size:18px;line-height:24px;margin-bottom:10px}
.btn_book_now{display:block;width:175px;height:42px;margin:55px auto 0;background:#f16f30;color:#fff;text-align:center;line-height:42px}
.btn_book_now:hover{color:#fff !important; text-decoration:underline}
.agent_box_link_register{margin-top:50px}
.box_link_register_item{padding:50px 15px 15px;border:1px solid #ccc;border-radius:6px;border-top:3px solid #f16f30;text-align: left;}
.box_link_register_item img{margin:0 auto 15px;display: block;}
.box_link_register_item h3{font-size:20px;line-height:24px;margin-bottom:15px;text-align: center;}
.agent_box_link_register .btn_book_now{width:100%;height:46px;line-height:46px}
.pageAgentRegister,.pageAgentLogin{display:inline-block;width:100%;padding:70px 0;background:#fff}
.box_agent_register{padding:40px 50px;border:1px solid #ccc;border-radius:0;margin-top:20px;display:block;width:100%}
.pageAgentRegister .col_Left,.pageAgentLogin .col_Left{width:165px;float:left;margin-right:30px}
.pageAgentRegister .col_Right,.pageAgentLogin .col_Right{width:calc(100% - 195px);float:left}
.pageAgentLogin .box_agent_register{padding:0;border:0 solid #ccc;border-radius:6px;width:100%;max-width:525px;margin:0 auto}
.box_change_pass{display:block;width:100%;max-width:720px;margin:0 auto}
.box_agent_register .title_box_register{color:#f16f30;text-align:center;font-size:20px;margin-bottom:35px}
.box_agent_register .col_Left_profile{width:170px;margin-right:40px;float:left;display:inline-block; position:relative}
.box_agent_register .col_Right_profile{width:calc(100% - 210px);float:left;display:inline-block}
#agent_register_form{width:100%;max-width:695px;margin:0 auto}
.pageAgentRegister #agent_register_form{display:inline-block;width:100%;max-width:100%}
.pageAgentRegister .agent_register_form{display:block!important;width:100%;max-width:695px!important;margin:0 auto}
#agent_register_form .form-group{margin-bottom:30px}
#agent_register_form label{display:block;font-weight:400;margin-bottom:6px}
#agent_register_form input.form-control{display:inline-block;width:100%;height:50px;line-height:48px;border:1px solid #ccc;padding:0 15px 0 50px;border-radius:0;font-style:italic}
#agent_register_form .btn_register{background:#f16f30;border:0!important;line-height:50px;color:#fff;text-transform:uppercase;font-style:normal!important;padding:0!important}
.bottom-form{padding-top:15px;border-top:1px solid #ccc}
.bottom-form p{margin-bottom:0}
.bottom-form a{color:#f16f30}
.text_label{cursor:pointer; text-align:center}
#text_file{width:100%; text-align:center; position:absolute; bottom:-20px; left:0; color:#f00}
#agent_register_form .form-group .icon{display:inline-block;width:100%;position:relative}
#agent_register_form .form-group .icon:before{content:'';position:absolute;top:18px;left:20px;width:18px;height:15px}
#agent_register_form .form-group .full_name:before{background:url(../images/sprite/sprite_bg_agent.png) no-repeat 0 -1px;height:16px}
#agent_register_form .form-group .email:before{background:url(../images/sprite/sprite_bg_agent.png) no-repeat 0 -24px}
#agent_register_form .form-group .phone:before{background:url(../images/sprite/sprite_bg_agent.png) no-repeat 0 -40px}
#agent_register_form .form-group .company_name:before{background:url(../images/sprite/sprite_bg_agent.png) no-repeat 0 -64px}
#agent_register_form .form-group .position:before{background:url(../images/sprite/sprite_bg_agent.png) no-repeat -2px -89px}
#agent_register_form .form-group .code:before{background:url(../images/sprite/sprite_bg_agent.png) no-repeat 0 -114px}
#agent_register_form .form-group .password:before{background:url(../images/sprite/sprite_bg_agent.png) no-repeat 0 -136px}
#agent_register_form .error{font-size:12px;color:red;line-height:24px}
#agent_register_form .success{font-size:12px;color:#38b700;line-height:24px}
#agent_register_form .text_upload{display:inline-block;width:300px!important;height:50px;line-height:50px;background:#f5f5f5;border:1px solid #ccc;padding:0 15px 0 50px;margin-right:20px}
.avatar_label{width:120px;height:120px;border-radius:100%;border:1px solid #ccc;display:block;margin:0 auto 10px;text-align:center;padding:20px}
.avatar_label img{border-radius:100%}
.delete_avatar{width:70px;text-align:center;margin:5px auto 0;background:#b12025;color:#fff;line-height:24px;border-radius:4px}
.wishlist-media{width:100%;margin:20px auto}
.wishlist-media .title24{font-weight:500;margin-bottom:20px!important}
.wishlist-media .title24 span{display:inline-block;font-size:16px;line-height:28px;color:#666;font-weight:400;vertical-align:top}
.wishlist-media h3{display:block;margin-bottom:10px!important;font-size:18px;font-weight:400}
.wishlist-media h3 span{font-size:13px}
.wishlist-media .media{background-color:#edf0f2;margin:0 0 30px}
.wishlist-media .media a.pull-left{width:193px;height:129px;display:block;margin-right:27px}
.wishlist-media .media a.pull-left img{width:100%;height:100%}
.wishlist-media .media-body{min-height:129px;position:relative;width:auto;display:block;padding-right:80px}
.wishlist-media .media-body address{margin-top:5px}
.wishlist-media .media-body .media-center{left:0}
.wishlist-media .media-body .fa-trash{font-size:24px;right:36px;color:#8e9091;cursor:pointer}
.DeleteWishlist{padding-top:15px}
.h-center{position:absolute;top:50%;-webkit-transform:translateY(-50%);-khtml-transform:translateY(-50%);-moz-transform:translateY(-50%);-ms-transform:translateY(-50%);-o-transform:translateY(-50%);transform:translateY(-50%)}
.bookingItem{width:100%;margin-top:20px;position:relative;display:inline-block}
.bookingItem .clear{clear:both}
.bookingItem .photo{display:inline-block;width:90px;height:60px;float:left;margin-right:10px}
.bookingItem .body{display:inline-block;width:calc(100% - 100px);float:left;padding-right:45px;position:relative}
.bookingItem .body .DeleteWishlist{position:absolute;right:5px;top:15px}
.bookingItem .body .absolute{position:absolute;right:0;top:15px}
.bookingItem .body a{color:#333}
.bookingItem a.link{color:#333}
.allbox_right{text-align:right;position:relative}
.money_hotel{font-size:16px;color:#000;font-weight:700}
.date_hotel_booking{text-align:right}
.allbox{width:100%;padding:12px 12px 16px;margin-top:10px;background-color:#fcfcfc;border:1px solid #ebebeb;height:auto}
.allbox p,.detail_hotel_booking p{margin-bottom:0;margin-top:0}
.page_container .address{font-size:13px;color:#666}
.booking_left{text-align:right;width:35%;margin-top:5px;font-weight:700;color:#000}
.booking_right{text-align:left;width:60%;margin:5px 0 0;color:#666;margin-left:5%}
.booking_left,.booking_right{position:relative;float:left;font-size:13px;white-space:normal}
.text_conditions,.text_conditions span{font-size:11px;color:#36B66F}
.allbox .manage_booking,.buttonconnect,.css3button,.css3button1{border:1px solid #2ca4fb;background-color:#2ca4fb}
.allbox .manage_booking,.button_loginemail,.buttonconnect,.css3button,.css3button1,.css3buttoncancel,.submit_reviews{color:#fff;cursor:pointer;text-align:center}
.allbox .manage_booking,.allbox .submit_reviews,.button_loginemail,.buttonconnect,.css3button,.css3button1,.css3buttoncancel{border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px}
.allbox .manage_booking{padding:5px 15px;background:-webkit-gradient(linear,left top,left bottom,from(#2ca4fb),to(#0172c2));background:-moz-linear-gradient(top,#2ca4fb,#0172c2);background:-ms-linear-gradient(top,#2ca4fb,#0172c2);background:-o-linear-gradient(top,#2ca4fb,#0172c2);background:linear-gradient(top,#2ca4fb,#0172c2);margin-top:10px!important;min-width:137px!important;text-align:left!important}
.allbox .manage_booking a{color:#fff!important;text-decoration:none;font-weight:700;font-size:14px}
.allbox .manage_booking .pic_arrow1{float:right!important}
.allbox .book_again,.allbox .manage_booking,.allbox .submit_reviews,.css3button,.css3buttoncancel{box-shadow:0 1px 3px #999}
.allbox .book_again{min-width:137px;font:700 14px Arial,Helvetica,sans-serif!important;float:right;padding:5px 15px;margin-top:10px;border:1px solid #ffa71f;background-color:#f7a511;border-radius:7px;-webkit-border-radius:7px;-moz-border-radius:7px;text-align:left;background:-webkit-gradient(linear,left top,left bottom,from(#f7a511),to(#e48b03));background:-moz-linear-gradient(top,#f7a511,#e48b03);background:-ms-linear-gradient(top,#f7a511,#e48b03);background:-o-linear-gradient(top,#f7a511,#e48b03);background:linear-gradient(top,#f7a511,#e48b03)}
.allbox .book_again a{color:#fff!important;text-decoration:none;font-weight:700;font-size:14px}
.icon_book_again{background:url(//cdn0.agoda.net/images/abtest/ABTest2481/icon-book-again.png) 0 0/15px 15px no-repeat rgba(0,0,0,0);border:0;height:15px;width:15px;float:right}
.flex-body .flex-box{padding:20px 20px 14px;margin-bottom:24px;background:#fff;border:1px solid #dedede;border-radius:4px}
.flex-body .flex-box h1{font-size:24px;margin-bottom:25px}
.mmb-status{margin-bottom:14px;padding:12px 14px;background-color:#f4f4f4;border:1px solid #f4f4f4;font-size:110%;color:#666}
.mmb-status .left{width:40%;float:left}
.right{text-align:right}
.mmb-promo{margin-bottom:24px;position:relative}
.mmb-promo figure{margin:0!important}
.mmb-promo .media{height:220px;position:relative;z-index:0}
.media-cover{background:url(https://cdn0.agoda.net/images/mvc/default/missing-image-thumb-(camera).png) center center no-repeat #dedede}
.media-cover img{background:0 0;opacity:0}
mg{max-width:100%;height:auto;vertical-align:middle;-ms-interpolation-mode:bicubic}
.mmb-promo .media-panel{height:100%;padding:14px;background:#f4f4f4;background-color:rgba(255,255,255,.8);text-align:center;position:absolute;z-index:1;right:0;top:0}
.date-labels{text-align:center;text-transform:uppercase;font-size:90%}
.date-labels>span{min-width:74px;margin:0 5px;padding:0 10px 8px;display:inline-block;color:#333}
.date-entries{text-align:center;font-size:90%;color:#666;display:inline-block}
.date-entries>.date{min-width:74px;margin:0 5px;padding:8px 10px;background:#f4f4f4;position:relative;display:inline-block}
.date-inverted>.date:before{background:#dedede}
.date-entries>.date:before{height:1px;background:#fff;display:block;position:absolute;z-index:0;left:0;right:0;top:50%;content:""}
.date-entries{text-align:center;font-size:90%;color:#666;display:inline-block}
.date-entries>.date>em,.date-entries>.date>span,.date-entries>.date>strong{font-style:normal;font-weight:400;position:relative;z-index:1;display:block}
.mmb-promo .media-panel>.button{margin-top:24px;display:block}
.submit-orange{padding:8px 15px;background:#f7a511;background-image:-moz-linear-gradient(top,#f7c111,#e48b03);background-image:-webkit-linear-gradient(top,#f7c111,#e48b03);background-image:-o-linear-gradient(top,#f7c111,#e48b03);background-image:-ms-linear-gradient(top,#f7c111,#e48b03);background-image:linear-gradient(top,#f7c111,#e48b03);border-color:#ffa71f;text-shadow:0 -1px 0 rgba(0,0,0,.25);color:#fff!important}
.mmb-promo-panel>h3{margin:0;font-size:160%}
.flat-dialog{width:520px;margin-left:-260px;border:2px solid #0283df;border:2px solid rgba(2,131,223,.8);text-align:center;position:fixed;z-index:1090;top:40%;left:50%;display:none}
.modal-dialog{width:230px;margin-bottom:14px;background:#222;background:rgba(0,0,0,.5);border:10px solid #666;border:10px solid rgba(0,0,0,.5);background-clip:padding-box;border-radius:9px}
.list-table{width:100%;margin:0;display:table}
.list-table li{margin:0;list-style:none;border-top:1px dotted #d1d1d1;display:table-row}
.list-table li span{padding:6px 0;-ms-word-break:break-all;word-break:break-word;word-wrap:break-word;white-space:pre-wrap;display:table-cell}
.list-table li span:first-child{min-width:114px;padding-right:14px}
.list-table li span:last-child{text-align:right}
.mmb-details{margin:14px 0 24px;padding:14px 14px 10px;border:1px solid #dedede}
.mmb-room-details{margin-top:0;padding:0;border:none}
.mmb-room-details>h4{margin:0 0 15px!important}
.entry,.entry .info,.media{overflow:hidden}
.entry .card{width:100%;position:relative;display:block}
.mmb-room-details .media{width:100%;height:190px}
.entry figure{font-size:0;line-height:0;text-align:center;margin:0!important}
.entry .info{position:relative}
.list-table{width:100%;margin:0;display:table}
.review-list .item .member{width:153px;display:inline-block;text-align:center;vertical-align:top}
.review-list li{padding:25px 0;border-bottom: 1px solid #ccc; display:inline-block; width:100%}
.review-list .item .member .image{width:53px;height:53px;margin:0 auto 10px}
.review-list .item .member .image img{border-radius:100%}
.review-list .item .block-rate-num{display:inline-block; width:200px; float:left}
.review-list .item .body{width:calc(100% - 240px);display:inline-block; float:right}
.review-list .item .review_title{font-size:18px; font-weight:bold; margin-bottom:20px;}
.review-list .rate-number{width:85px; height:85px; border-radius:100%; background:#f16f30; font-size:40px; color:#fff; line-height:85px; text-align:center; display:inline-block; font-weight:normal}
.semoreClick,.LessClick{text-decoration:underline;cursor:pointer}
@media screen and (max-width: 1199px) {
.content_banner p{margin-bottom:30px}
.bg_item .content h3{font-size:40px;line-height:50px;text-align:center;max-width:200px;margin:0 auto 25px}
}
@media (max-width: 767px) {
.findTripDestination .submit{width:100px!important;float:right}
.findTripDestination .search_tour .slb_destination{width:calc(100% - 100px)!important;border-right:0}
}
@media (max-width: 600px) {
.hidden-600{display:none!important}
.findTripDestination .submit{width:70px!important}
.findTripDestination .search_tour .slb_destination{width:calc(100% - 70px)!important}
.nav_agent{display:inline-block;width:100%;margin-top:30px;margin-bottom:40px;background:#f5f5f5;padding:0;text-align:center}
.box_agent_register{padding:15px 0;border-radius:0;border:0!important;margin-top:20px;display:block;width:100%}
.pageAgentRegister .col_Left,.pageAgentLogin .col_Left{width:100%;float:none;margin-right:0}
.pageAgentRegister .col_Right,.pageAgentLogin .col_Right{width:100%;float:none}
.ul_nav_agent2{padding:0;margin-bottom:20px;display:inline-block;width:100%}
.ul_nav_agent2 li{display:inline-block;width:50%;list-style:none;float:left}
.box_agent_register .col_Left_profile{width:100%;margin-right:0;float:none;display:inline-block;margin-bottom:20px;text-align:center}
.box_agent_register .col_Right_profile{width:100%;float:none;display:inline-block}
}