.mt0{margin-top:0!important}
.blogPage,.pageBlogDefault{padding:40px 0}
.blogPage .blogItem{margin-bottom:20px;padding:15px 10px;background:#fff}
.pageBlogDefault .blogItem{margin-bottom:20px;padding:15px 10px;background:#fff}
.blogItem h3 a:hover{text-decoration: underline}
.blogItem .bodyBlog{padding:15px 0}
.blogItem .bodyBlog .linkBlog{
    color: var(--main-color);
}
.blogContent{padding:15px 10px 60px;background:#fff}
.blogPopular{padding:15px 10px;background:#fff}
.blogPopular h2{padding:0 0 10px;position:relative}
.blogPopular h2:after{content:"";display:block;margin-top:10px;height:2px;width:50px;background-color:var(--main-color)}
.blogPopular .listBlog{padding:0}
.blogPopular .listBlog li{list-style:none;padding:5px 0 5px 15px;position:relative}
.blogPopular .listBlog li:before{position:absolute;width:5px;height:5px;left:0;top:13px;background:var(--main-color);border-radius:100%;content:""}
.blogPopular .listBlog li a{color:#333}
.rightBlog a:hover,.rightBlog li.active a{color:var(--main-color) !important}
.rightBlog > h2,.rightBlog > h3{padding:0 0 10px;font-weight:700;letter-spacing:.5px;color:#444;text-transform:uppercase;margin:0;text-align:left;position:relative}
.rightBlog ul{padding:0}
.submitted a{color:#888;font-weight:300}
.submitted{padding-bottom:15px;padding-top:10px;margin-bottom:20px;border-bottom:1px solid #dedede;display:inline-block;width:100%; line-height: 32px;}
.sharethis-buttons{float:right;margin-top:20px}
.blogItem .sharethis-buttons{float:right;margin-top:-60px}
.blogItem .submitted .fa-user{
    margin-left: 10px;
}
.blogContent img{max-width:100%;height:auto}
.rightBlog .linkDestination,.rightBlog .blogTag,.rightBlog .blogLink{padding:15px 10px;background:#fff}
.rightBlog .title_box{position: relative; font-size: 24px; padding: 0 0 10px; margin: 0}
.rightBlog .title_box:after{content:"";display:block;margin-top:10px;height:2px;width:50px;background-color:var(--main-color)}
.rightBlog li{display:inline-block;width:100%;padding-bottom:8px}
.rightBlog a{font-weight:400;color:#333}
h2.pane-title{font-size:24px;font-weight:500;color:#2b2b2b;text-align:left;margin-top:0;margin-left:0;margin-right:0;line-height:28px;font-weight:bold}
h2.pane-title a{font-size:24px;font-weight:500;color:#2b2b2b;text-align:left;margin-top:0;margin-left:0;margin-right:0;line-height:28px;font-weight:bold}
.pagination.pager .page{display:block;float:left;text-align:center;color:#1a1a1a;width:32px;height:32px;line-height:32px;background:none;border:0;margin-right:4px;position:relative}
.pagination.pager .current{background:var(--main-color);color:#fff;border-radius:3px}
.pagination.pager .current:hover{cursor:pointer}
.pagination.pager .prev{line-height:32px;padding-top:0}
.pagination.pager i{display:block;line-height:32px}
.pagination.pager .next{line-height:32px;padding-top:0}
.pagination .disabled{display: none!important;}
.addthis-smartlayers.addthis-smartlayers-desktop{display:none}
.destinationAZ h2{margin:10px 0 0;color:#000;font-size:24px;line-height:24px;text-align:center;font-weight:400}
.destinationAZ h3.title{background-color:#f3f3f3;margin-bottom:7px}
.destinationAZ .listDestination h3.title{padding:0 10px;background-color:#f3f3f3;line-height:25px;font-size:15px;background:#fff;text-align:left;margin:10px 0 5px;display:inline-block;clear:both;width:100%}
.destinationAZ .listDestination h3.title a{display:inline-block;width:auto;height:auto;color:#fff;background:#e4622a;padding:0 10px}
.destinationAZ h3.title span{display:inline-block;width:29px;height:25px;line-height:25px;color:#fff;font-size:15px;background:#00a2e8;text-align:center}
.destinationAZ .listDestination h3.title{padding:0;background-color:#f3f3f3;line-height:25px;font-size:15px;background:#fff;text-align:left;margin:0 0 10px;display:inline-block;clear:both;width:100%}
.destinationAZ .listDestination h3.title span{display:inline-block;width:auto;height:auto;color:#fff;background:#e4622a;padding:0 10px}
.CityRegionItem li{list-style:none}
.CityRegionItem li a{color:#333}
.grid-of-blog li a{color:#333;}
.grid-of-blog h3{color:#e89a08;text-transform:uppercase}
.grid-of-blog{list-style:none;outline:medium none;width:100%;display:block;float:left;padding:0;margin:0 0 20px;width:15%;margin-right:2%}
.grid-of-blog:nth-child(6n){margin-right:0!important}
.grid-of-blog:nth-child(6n + 6){margin-right:0!important}
.relateBlog{padding:15px 10px;background:#fff}
.relateBlog .listBlog{padding:0}
.relateBlog .listBlog li{list-style:none;line-height:22px;padding:5px 0 5px 15px;position:relative}
.relateBlog .listBlog li:before{position:absolute;width:5px;height:5px;left:0;top:13px;background:var(--main-color);border-radius:100%;content:""}
.relateBlog .listBlog li a{color:#333}
.box_blog_tour_relate .image{position:relative}
.box_blog_tour_relate .image .h-bottom{    background: -moz-linear-gradient(top,transparent 0%,transparent 38%,rgba(0,0,0,0.5) 97%,#000 100%);
    background: -webkit-linear-gradient(top,transparent 0%,transparent 38%,rgba(0,0,0,0.5) 97%,#000 100%);
    background: linear-gradient(to bottom,transparent 0%,transparent 38%,rgba(0,0,0,0.5) 97%,#000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#000000',GradientType=0);
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: #fff;
    padding: 25px 10px 5px!important;
    width: 100%;
    font-size: 12px;}
.box_blog_tour_relate .body{padding:10px; display:inline-block; width:100%}
.box_blog_tour_relate .bottom{display:inline-block; width:100%}
.box_blog_tour_relate .body .name a{font-size:16px; font-weight:bold}
.box_blog_tour_relate .left {
    padding: 5px 0px;
    float: left;
}
.box_blog_tour_relate .price .price_left {
    position: relative;
    float: left;
}


.original_price {
    color: rgba(59,68,78,0.5);
    font-size: 12px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    font-weight: bold;
    padding-top: 3px;
	text-decoration: line-through;
}

.box_blog_tour_relate .price .discounted_price {
    float: left;
    color: #ec3237;
    /* font-size: 24px; */
    line-height: 24px;
    font-weight: bold;
}


.box_blog_tour_relate {
    background: #fff;
    margin-bottom: 15px;
    margin-top: 20px;
	width:100%;
}

.cruise-relate a{
	color:#333;
}
.cruise-relate a:hover{
	color:#1aae89;
}
.cl-caption {
    padding: 10px 10px 15px;
    border: 1px solid #e0e4e6;
    margin-top: -1px;
}
.itemHotel2 .body {
    position: relative;
	padding:10px;
}
.itemHotel2 .body h3{ margin:0 0 10px;}
.itemHotel2 .body h3 a{font-size:16px; font-weight:bold}
.itemHotel2 {
    margin-bottom: 20px;
    background: #fff;
    margin-top: 20px;
}
.itemHotel2 .cl-caption .price {
    font-size: 12px;
    right: 0;
}
.cl-caption .price {
    position: absolute;
    right: 0px;
    bottom: 25px;
    color: rgba(0, 0, 0, 0.7);
}
.view-more-tour-relate{display:block; width:120px; height:32px; background:var(--main-color); color:#fff !important; line-height:32px !important; margin:15px auto; text-align:center; border-radius:16px; text-transform:uppercase}
.view-more-tour-relate:hover{color:#fff !important;opacity:0.6 }
.blog_default_body.phone .sharethis-inline-share-buttons{display: none !important}
.sharethis-inline-share-buttons{float: right}
.phone .sharethis-inline-share-buttons{float: left;text-align: left !important; margin-top: 10px;}
.breadcrumb-blog{
    padding-top: 15px;
}
@media (max-width:991px) {
.mb992_30{margin-bottom:30px!important}
}
@media (max-width:767px) {
.mb768_30{margin-bottom:30px!important}
}
@media (max-width:600px) {
.submitted .sharethis-buttons{display:block;float:left;width:100%;margin-top:10px!important}
}
@media (min-width:992px) {
.col-md-9.blogLeft{float:right!important}
}