#logo{/* width:120px; *//* height:57px; *//* margin:6.5px 0 0; */}
#logo a{display:block;width:100%;height:auto;margin:0;padding:0}
#logo a img{height: 100%;width: auto;}
.dropdown-menu.menu-language{border-radius:0}
.dropdown-menu.menu-language li{padding-left:5px}
.dropdown-menu.menu-language li a{padding-left:0;font-size:15px}
.dropdown-menu.menu-language li a img{margin-right:5px;vertical-align:middle}
.header{width:100%;position:fixed;top:0;left:0;/* height:68px; */background:#fff;z-index:9999;box-shadow:1px 1px 2pxrgba(88,88,90,0.6);border-top:3px solidvar(--main-color)}
.main__menu .main__menu--ul{margin:0;padding:0;display:inline-block;width:100%;vertical-align:middle;}
.main__menu .main__menu--ul li{display:inline-block;float:left;list-style:none;position:relative}
.main__menu .main__menu--ul>li {padding: 15px 0px 20px 0px}
.main__menu .main__menu--ul li a{/* text-transform:uppercase; */color:#1c1c1c;vertical-align:middle;padding-right: 35px;display:block;font-weight: 600;font-size: 14px;line-height: 19px;}
.dropdown-toggle::after {display: none}
.main__menu .main__menu--ul li a.menu_service{position: relative;min-width: 42px;min-height: 58px;}
.main__menu .main__menu--ul li a.menu_service span{display: inline-block;font-size: 35px;height: 42px;line-height: 42px;color: #666;position: absolute;top: 4px;width: 19px;}
.main__menu .main__menu--ul li a.pdl-0{padding-left: 0 !important}
.main__menu .main__menu--ul li a i{font-weight:700}
.header__desktop--right__menu{display:flex;align-items:center;width:100%;height:100%;justify-content: flex-end;}
.header__desktop--right__menu li{display:inline-block;list-style:none;position:relative}
.header__desktop--right__menu li a{display:inline-block;vertical-align:middle;padding: 0 10px;font-weight: 600;font-size: 12px;line-height: 16px;
/* identical to box height */color: #2C2C2C;}
.header__desktop--right__menu li a span{display: inline-block; line-height: 20px; vertical-align: top;}
.header__desktop--right__menu .menu_lang_header{margin-left:0;border-left:1px solid #e5e5e5;height:34px;padding-left:14px;line-height:34px}
.menu_lang_header > a >span{height:20px;display:flex;line-height:23px;font-size:17px}
.menu_lang_header > a >span >i,.menu_lang_header i{vertical-align:middle}
.menu_lang_header img.flag{width:24px;height:24px;border-radius:100%}
.menu_lang_header .dropdown-menu{right:0;left:auto}
.header .dropdown-menu{padding:0;margin: 0!important;min-width:190px;border:0;top:100%;border-bottom: 3px solid var(--main-color);border-radius: 0;box-shadow: 0px 0px 3px 0px #ccc;}
.langBox .flag {vertical-align: middle !important}
.langBox .dropdown-menu{border: 0 !important; min-width:90px;}
.langBox {text-transform: uppercase;}
.header .dropdown-menu li{position:relative;display:block;width:100%}
.header .dropdown-menu li p.region__name{color: #1c1c1c; text-transform: uppercase; margin: 0 0 10px 10px; font-weight: bold; font-size: 15px;}
.header .dropdown_double li{width: 49%; overflow: hidden}
.header .dropdown_double li:nth-child(odd){margin-right: 1% !important;}
.header .dropdown_double li:nth-child(even){margin-left: 1% !important;}

.header .dropdown-menu li a{line-height:24px!important;padding:5px 10px!important;width:100%; font-size: 14px !important}
.header .dropdown-menu li a:hover{background:var(--main-bg-color); color:var(--color-text-main-bg) !important;}
.header .header__mobile  .dropdown-menu li a:hover{background:none; color:var(--main-bg-color) !important;}
.header .dropdown-menu li .list_item_tab_menu a:hover{color: var(--main-color-2) !important}
.header .dropdown-menu li .sub_dropdown-menu{position:absolute;left:100%;top:0;width:auto;min-width:180px;background:#fff;padding:15px 10px;list-style:none;display:none}
.header .dropdown-menu li:hover .sub_dropdown-menu{display:block!important;z-index:9}
.header .dropdown-menu li .sub_dropdown-menu a{color:#1c1c1c;font-size:16px;padding:5px;display:inline-block;width:100%}
.header .dropdown-menu li .sub_dropdown-menu a:hover{text-decoration: underline;background: none;}
.sub_menu_hover{position:absolute;top:60px;z-index:9999;left:0;display:none}
.header > li.relative{position:relative}
.header li.subMenu:hover > .dropdown-menu{display:block}
.header__desktop{display:flex;justify-content:space-between;padding:0 15px 0 23px}
.header__desktop--left{height: 54px;}
.header__desktop--right{height:65px;padding-top: 6px;}
.hotline_header{font-size:15px;font-family:'Myriad Pro Semibold',sans-serif!important;font-weight:600;border-right:1px solid #e5e5e5;padding-right:12px;height:34px;line-height:34px}
.header__desktop--right__menu li.show-1600{padding-right:12px}
.header__desktop--right__menu .register{border-radius:25px;padding:0 20px;height:40px;min-width:87px;text-align: center;line-height:40px}
.header__desktop--right__menu .login{padding:0 15px;min-width:87px; text-align: center}
.signin_head_mb{position:relative;width:35px;height:35px;margin-right:10px}
.signin_head_mb:before{content:"";position:absolute;width:35px;height:35px;background:url(../images/icon/icon_home.png) -28px 0 no-repeat;left:0;top:0}
.header .tab__menu{padding:0}
.nav_menu_child{position:absolute;width:auto;left:0;background:#fff;border-bottom:3px solid var(--main-color);box-shadow: 0px 0px 3px 0px #ccc;}
.header .dropdown-menu.dropdown_double{width: auto; min-width: 500px;}
.loggedIn .dropdown-mene-profile{margin-top: 10px!important;left: -65px}
.header .dropdown-menu li .sub_dropdown-menu.tab_menu_child{position:absolute;left:100%;top:0;width:620px;min-width:220px;padding: 10px;list-style:none;display:none;height:calc(100% + 3px);border-bottom:3px solid var(--main-color);overflow-y:auto;    box-shadow: 0px 0px 3px 0px #ccc; }
.tab_menu_child::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);border-radius:5px;background-color:#F5F5F5}
.tab_menu_child::-webkit-scrollbar{width:6px;background-color:#F5F5F5}
.tab_menu_child::-webkit-scrollbar-thumb{border-radius:5px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#555}
.nav_menu_child li:hover .tab_menu_child{display:block!important}
.nav_menu_child>li{position:unset!important;margin-left:0!important}
.tab_menu_child li a,.tab_menu_child .region__name a{color:#1c1c1c!important}
/*.tab_menu_child li a:hover{color:var(--main-color)!important}*/
.tab__menu .nav-pills>li.active>a,.tab__menu .nav-pills>li.active>a:focus,.tab__menu .nav-pills>li.active>a:hover{color:#fff;background:none}
.main__menu--ul .tab__menu .nav-pills>li>a:hover,.header .dropdown-menu li.menuhover a:hover{background-color: var(--main-color);color:var(--color-text-main-bg) !important;}
.main__menu--ul .tab__menu .nav-pills>li>a:hover{	}
.header .nav_menu_child>li>a{padding:15px 15px!important}
.tab__menu .nav-pills>li>a{color: #1c1c1c !important}
.header .list_item_tab_menu li{width:calc(100%/3)}
.header li.subMenu:hover > .dropdown-menu .active .sub_dropdown-menu,.header .dropdown-menu  li.tablinks.active .tab_menu_child{display:block}
.dropdown_travelstyle .sub_dropdown-menu{border:1px solid #ccc;border:1px solid rgba(0,0,0,.15)}
.bg_yellow.active{background:var(--color-text-main-bg)}
.header .nav_menu_child>li>a{color: #1c1c1c !important;border-bottom: 1px solid #e5e5e5;    font-weight: 600;}
.header .nav_menu_child>li:last-child a{border-bottom: 0}
.icon__cart {width: 26px;height: 20px;display: inline-block;position: relative;margin-right:0px;}
.icon__cart:before {content: '';position: absolute;left: 0;top:-6px;width: 26px;height: 26px;background: url(../images/icon/icon_iso.png) -64px -37px no-repeat;}
.number__item {position: absolute;top: -10px;right: -9px;font-size: 12px;background: #fb1111;color: #fff;border-radius: 100%;width: 20px;height: 20px;line-height: 20px;text-align: center;}
.loggedIn_li {display: flex !important;align-items: center;}
.nav_sub_menu .nav_menu_child {
flex-direction: column
}
.open.dropdown-menu {
display: block;
}
.ul_main_menu .mg-dropdown {
box-shadow: 0 0 4px rgba(0, 0, 0, .25);
background-color: #fff;
padding-left: 10px;
padding-right: 10px;
border-radius: 8px;
}
.ul_main_menu .header-mega-menu-new {
width:240px;
left: 0;
overflow: hidden;
background: #FCFCFC;
box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.16);
border-radius: 4px;
padding: 0;
inset: unset !important;
transform: unset !important;
top: 56px !important;
}
.ul_main_menu li .dropdownMenuTour {
width: 680px;
}
.ul_main_menu li .dropdownMenuOther{
width: 680px;
}
.ul_main_menu .header-mega-menu-new.dropdownMenuCruise {
left: 0px !important;
}
.ul_main_menu .d-flex-menu {
display: flex;
}
.ul_main_menu .d-flex-menu .nav-stacked {
width: 240px;
border-bottom: 0;
}
.nav-stacked > li {
float: none;
}
.mega-menu li {
position: relative;
text-align: left;
}
.mega-menu .tab-menu {
cursor: pointer;
}
.mega-menu .active,
.mega-menu .show {
display: block;
}
.mega-menu .nav-tabs li {
width: 100%;
white-space: nowrap;
padding: 0;
}
.mega-menu .nav-tabs li .tab-menu {
display: inline-block;
padding: 12px 28px !important;
font-weight: 600;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.04em;
color: #424242;
/*background: rgba(66, 66, 66, 0.08);*/
width: 240px;
border-bottom: 1px solid rgba(66, 66, 66, 0.08);
}
.mega-menu .nav-tabs li .tab-menu.active {
background: #FCFCFC;
border-bottom: 0;
}
.mega-menu .nav-tabs li:last-child .tab-menu {
border-bottom: 0
}
.ul_main_menu .d-nav-menu {
background: rgba(66, 66, 66, 0.08);
}
.ul_main_menu .tab-content {
width: 100%;
}
.ul_main_menu .tab-content .tab-pane,
.ul_main_menu .tab-content .mega-item-menu {
width: 100%;
}
.ul_main_menu .tab-content .mega-item-menu .label {
font-size: 15px;
text-transform: uppercase;
font-weight: 700 !important;
width: 100%;
display: block;
text-align: left;
padding: 0 !important;
margin-bottom: 8px;
}
.header-mega-menu-new .tab-content .tab-pane {
padding: 24px;
height: 100%;
}
.dropdownMenuCruise.header-mega-menu-new .tab-content .tab-pane {
padding-right: 20px;
}
.header-mega-menu-new .tab-content .tab-pane .flex_colum {
display: flex;
flex-direction: column;
height: 100%;
}
.header-mega-menu-new .col_menu .photo,
.header-mega-menu-new .tab-content .tab-pane .flex_colum .photo {
margin-top: auto;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-ktml-border-radius: 4px;
overflow: hidden;
}
.header-mega-menu-new .col_menu .photo > img,
.header-mega-menu-new .tab-content .tab-pane .flex_colum .photo > img {
object-fit: cover;
width: 100%;
transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
-webkit-transition: all .3s ease-in-out;
-khtml-transition: all .3s ease-in-out;
}
.header-mega-menu-new .col_menu .photo:hover img,
.header-mega-menu-new .tab-content .tab-pane .flex_colum .photo:hover img {
transform: scale(1.1);
-ms-transform: scale(1.1);
-moz-transform: scale(1.1);
-webkit-transform: scale(1.1);
}
.header-mega-menu-new .tab-content .mega-item-menu ul {
display: flex;
flex-wrap: wrap;
padding: 0;
}
.header-mega-menu-new .tab-content .mega-item-menu ul li {
padding: 0;
display: inline-block;
width: 50%;
margin-bottom: 12px;
}
.ul_main_menu .header-mega-menu-new.dropdownMenuCruise .tab-content .mega-item-menu ul li {
width: 100% !important;
padding-bottom: 6px;
border-bottom: 1px solid rgba(66, 66, 66, 0.1);
}
.header-mega-menu-new .tab-content .mega-item-menu ul li a {
display: inline-block;
width: 100%;
text-transform: unset;
font-weight: 400;
font-size: 14px;
line-height: 22px;
color: #666666;
}
.ul_main_menu .header-mega-menu-new.dropdownMenuAbout {
width: 565px;
padding: 24px 0px !important;
left: -185px !important;
}
ul.nav-link {
display: flex;
flex-wrap: wrap;
}
.header-mega-menu-new .sub_dropdown-menu{position: relative !important; left: 0 !important; padding-left: 10px !important;}
@media (max-width:1425px) {.cart__box{padding: 0 0px;}.loggedIn_li{padding-left: 0px;}.header__desktop--right__menu .login {padding: 0 8px;}.header__desktop--right__menu .register {border-radius: 16px;padding: 0 10px;height: 32px;line-height: 32px;}}
@media (max-width:1360px) {
.main__menu .main__menu--ul li a{padding: 22px 12px;}
.header__desktop--right__menu li a{padding: 0 10px;font-size: 16px}
.header__desktop{padding:0 8px 0 10px}
.main__menu{margin-left:15px;padding-left:10px}
.main__menu .main__menu--ul li a{padding:17px 8px;font-size: 15px}
}
@media (max-width:1199px) {
.header__desktop--right__menu li a{font-size: 15px}
.hidden_1199{display:none!important}
.show_1199{display:block!important}
.dropdown-mene-profile{right:0;left:auto;min-width:200px!important}
.cart__box .cart{display: none}
.cart__box {
padding-right: 0px;
}
.loggedIn_li {
padding-left: 0;
border: none;
}
.header__desktop--right__menu .register {
padding: 0 8px;
text-align: center;
}
.header__desktop--right__menu .menu_lang_header {
padding-left: 8px;
}
.header__desktop--right__menu .register {
padding: 0 5px;
min-width: unset;
}
.header__desktop--right__menu .login {
padding: 0 5px;
border: none;
}
}

/*=====*/
.header_top_left .logo {
    width: 98px;
    height: 48px;
    margin: 0;
    margin-right: 28px;
}

.box_search_top {
    width: 50%;
    min-width: 325px;
    position: relative;
    height: 100%;
}

.box_search_top .search_top {
    width: 100%;
    background: #F5F5F5;
    border-radius: 80px;
    border: none;
    padding: 8px;
    padding-left: 43px;
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}

.container_header_top {
    padding: 6px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 61px;
}
.container_header_top .header__desktop--right {
    height: 100%;
}
.header_top {
    align-items: center;
    padding: 0;
}

.box_search_top:before {
    content: '';
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/icon/icon_iso.png) -114px -42px no-repeat;
    position: absolute;
    left: 15px;
    top: calc(50% - 8px);
}
.slt_country {
    display: flex !important;
    align-items: center;
}
.menu_promotion {
    padding-left: 18px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.menu_promotion:before {
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    float: left;
    background: url("../images/icon/icon_iso.png") -339px -40px no-repeat;
    margin-right: 7px;
}
.main__menu .main__menu--ul .menu_promotion a {
    display: inline-block;
}
.main__menu .main__menu--ul>.menu_promotion {
    padding: 0px;
    padding-left: 18px;
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    margin-top: 13px;
}
/*=====*/
@media (max-width:991px) {
.header{height:68px}
.hidden992{display:none!important}
.block992{display:block!important}
}