@font-face{font-family:'icomoon';src:url(../css/fonts/oneinventory/icomoon.eot?tbcqzq);src:url(../css/fonts/oneinventory/icomoon.eot?tbcqzq#iefix) format("embedded-opentype"),url(../css/fonts/oneinventory/icomoon.ttf?tbcqzq) format("truetype"),url(../css/fonts/oneinventory/icomoon.woff?tbcqzq) format("woff"),url(../css/fonts/oneinventory/icomoon.svg?tbcqzq#icomoon) format("svg");font-weight:400;font-style:normal}
[class^="icon-"],[class*=" icon-"]{font-family:'icomoon'!important;speak-as:none;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-size:before{content:"\e900"}
.icon-email:before{content:"\e938"}
.icon-Like:before{content:"\e93c"}
.icon-Menu:before{content:"\e93d"}
.icon-shopping-cart:before{content:"\e983"}
.icon-upload:before{content:"\e984"}
.icon-adult:before{color:#ccc;content:"\e943"}
.icon-airconditioner:before{content:"\e960"}
.icon-airport:before{content:"\e961"}
.icon-beach:before{content:"\e962"}
.icon-breakfast:before{content:"\e963"}
.icon-center:before{content:"\e964"}
.icon-Checkin:before{content:"\e965"}
.icon-Checkout:before{content:"\e966"}
.icon-children:before{content:"\e967"}
.icon-coffeemachine:before{content:"\e968"}
.icon-favorite-uncheck:before{content:"\e969"}
.icon-fitness:before{content:"\e96a"}
.icon-meeting-room1:before{content:"\e96b"}
.icon-non-smoking:before{content:"\e96c"}
.icon-pet:before{content:"\e96d"}
.icon-pool:before{content:"\e96e"}
.icon-restaurant:before{content:"\e96f"}
.icon-spa:before{content:"\e970"}
.icon-tv:before{content:"\e971"}
.icon-wifi:before{content:"\e972"}
.icon-bar:before{content:"\e973"}
.icon-coffee-shop:before{content:"\e974"}
.icon-meeting-room:before{content:"\e975"}
.icon-motorbike:before{content:"\e976"}
.icon-tennis-court:before{content:"\e977"}
.icon-bathtub-massage:before{content:"\e978"}
.icon-bathtub:before{content:"\e979"}
.icon-free-toiletries:before{content:"\e97a"}
.icon-hair-dryer:before{content:"\e97b"}
.icon-mirror:before{content:"\e97c"}
.icon-standing-shower:before{content:"\e97d"}
.icon-toilet:before{content:"\e97e"}
.icon-towel:before{content:"\e97f"}
.icon-washbasin:before{content:"\e980"}
.icon-star-half:before{content:"\e939"}
.icon-star:before{content:"\e942"}
.icon-ic_email:before{color:#ccc;content:"\e933"}
.icon-edit:before{content:"\e934"}
.icon-favorite:before{content:"\e937"}
.icon-Toggle-Left:before{content:"\e901"}
.icon-Toggle-Right:before{content:"\e902"}
.icon-Checked-Disabled:before{content:"\e903"}
.icon-Checked:before{content:"\e905"}
.icon-Uncheck-Disabled:before{content:"\e908"}
.icon-Uncheck:before{content:"\e909"}
.icon-Checked-Disabled1:before{content:"\e90a"}
.icon-Checked1:before{content:"\e90c"}
.icon-Nature:before{content:"\e90e"}
.icon-Uncheck-Disabled1:before{content:"\e910"}
.icon-Uncheck1:before{content:"\e911"}
.icon-facebook:before{content:"\e912"}
.icon-google-plus:before{content:"\e913"}
.icon-twitter:before{content:"\e914"}
.icon-youtube:before{content:"\e915"}
.icon-BE:before{content:"\e916"}
.icon-CH:before{content:"\e919"}
.icon-ENG:before{content:"\e91c"}
.icon-VI:before{content:"\e920"}
.icon-GR:before{content:"\e981"}
.icon-Female:before{content:"\e922"}
.icon-Male:before{content:"\e923"}
.icon-VND:before{content:"\e924"}
.icon-Account:before{content:"\e925"}
.icon-Arrow-Left:before{content:"\e926"}
.icon-Arrow-Right:before{content:"\e927"}
.icon-Bell:before{content:"\e928"}
.icon-best-price:before{content:"\e929"}
.icon-bill:before{content:"\e92a"}
.icon-Booking-Assigned:before{content:"\e92b"}
.icon-Booking-unAssigned:before{content:"\e92c"}
.icon-Booking:before{content:"\e92d"}
.icon-Calendar:before{content:"\e92e"}
.icon-Check-Mark:before{content:"\e930"}
.icon-Connection:before{content:"\e931"}
.icon-Credit:before{content:"\e932"}
.icon-Dashboard:before{content:"\e935"}
.icon-drop-down-list-expanded:before{color:#114a9f;content:"\e936"}
.icon-drop-down-list:before{color:#114a9f;content:"\e93b"}
.icon-Error:before{content:"\e93e"}
.icon-Excel:before{content:"\e93f"}
.icon-Exit:before{content:"\e940"}
.icon-eye-disabled:before{content:"\e941"}
.icon-eye:before{content:"\e944"}
.icon-Filter:before{content:"\e945"}
.icon-Flag-Copy:before{content:"\e946"}
.icon-Flag:before{content:"\e947"}
.icon-Help:before{content:"\e948"}
.icon-Hotel:before{content:"\e94a"}
.icon-Hour:before{content:"\e94b"}
.icon-House-Keeping:before{content:"\e94c"}
.icon-Inbox:before{content:"\e94d"}
.icon-Key:before{content:"\e94e"}
.icon-Lightning:before{content:"\e94f"}
.icon-Location:before{content:"\e950"}
.icon-Login:before{content:"\e951"}
.icon-Logout:before{content:"\e952"}
.icon-Map:before{content:"\e953"}
.icon-minus:before{content:"\e954"}
.icon-More:before{content:"\e955"}
.icon-Night:before{content:"\e956"}
.icon-Note:before{content:"\e957"}
.icon-package:before{content:"\e958"}
.icon-Pending:before{content:"\e959"}
.icon-Plan:before{content:"\e95a"}
.icon-plus:before{content:"\e95b"}
.icon-Promotion:before{color:#ffc107;content:"\e95c"}
.icon-register-process-circle:before{content:"\e95d"}
.icon-Rejected:before{content:"\e95e"}
.icon-Report:before{content:"\e95f"}
.icon-Room-Type:before{content:"\e985"}
.icon-Search:before{content:"\e986"}
.icon-hour-front-desk_ic:before{content:"\e904"}
.icon-hour-security_ic:before{content:"\e906"}
.icon-Accessible-by-elevator_ic:before{content:"\e907"}
.icon-Accessible-parking_ic:before{content:"\e90b"}
.icon-Adapted-bath_ic:before{content:"\e90d"}
.icon-Adapter_ic:before{content:"\e90f"}
.icon-Additional-bathroom_ic:before{content:"\e917"}
.icon-Adults-only_ic:before{content:"\e918"}
.icon-Aerobics_ic:before{content:"\e91a"}
.icon-Air-conditioning_1_ic:before{content:"\e91b"}
.icon-Air-conditioning_ic:before{content:"\e91d"}
.icon-Airport-shuttle_ic:before{content:"\e91e"}
.icon-Alarm-clock_ic:before{content:"\e91f"}
.icon-Archery_ic:before{content:"\e921"}
.icon-ATM-on-site_ic:before{content:"\e92f"}
.icon-Attached-bathroom_ic:before{content:"\e93a"}
.icon-Baby-safety-gates_1_ic:before{content:"\e949"}
.icon-Baby-safety-gates_ic:before{content:"\e982"}
.icon-Babysitting-Child-services_ic:before{content:"\e987"}
.icon-Badminton-equipment_ic:before{content:"\e988"}
.icon-Baggage-storage_ic:before{content:"\e989"}
.icon-Balcony_ic:before{content:"\e98a"}
.icon-Bar_ic:before{content:"\e98b"}
.icon-Barbecue_ic:before{content:"\e98c"}
.icon-Bar-crawls_ic:before{content:"\e98d"}
.icon-Bathhouse_ic:before{content:"\e98e"}
.icon-Bathrobe_ic:before{content:"\e98f"}
.icon-Bathroom-accessibility_ic:before{content:"\e990"}
.icon-Bathtub-or-shower_ic:before{content:"\e991"}
.icon-Bathtub_ic:before{content:"\e992"}
.icon-BBQ-facilities_ic:before{content:"\e993"}
.icon-Beach-chairs-Loungers_ic:before{content:"\e994"}
.icon-Beach-umbrellas_ic:before{content:"\e995"}
.icon-Beach_ic:before{content:"\e996"}
.icon-Beauty-services_ic:before{content:"\e997"}
.icon-Bedroom-accessibility_ic:before{content:"\e998"}
.icon-Bicycle-rental-additional-charge_ic:before{content:"\e999"}
.icon-Bidets_ic:before{content:"\e99a"}
.icon-Bike-tours_ic:before{content:"\e99b"}
.icon-Bikes-available-free_ic:before{content:"\e99c"}
.icon-Bingo_ic:before{content:"\e99d"}
.icon-Blu-ray-player_ic:before{content:"\e99e"}
.icon-Board-games-puzzles_ic:before{content:"\e99f"}
.icon-Body-soap_ic:before{content:"\e9a0"}
.icon-Books-DVDs-music-for-kids_ic:before{content:"\e9a1"}
.icon-Books-DVDs-or-music-for-children_ic:before{content:"\e9a2"}
.icon-Bottle-of-water_1_ic:before{content:"\e9a3"}
.icon-Bottle-of-water_ic:before{content:"\e9a4"}
.icon-Bowling_ic:before{content:"\e9a5"}
.icon-Breakfast-in-the-roam_ic:before{content:"\e9a6"}
.icon-Business-center_ic:before{content:"\e9a7"}
.icon-Cable-channels_ic:before{content:"\e9a8"}
.icon-Canoeing_ic:before{content:"\e9a9"}
.icon-Car-rental_ic:before{content:"\e9aa"}
.icon-Carpeted_ic:before{content:"\e9ab"}
.icon-Casino_ic:before{content:"\e9ac"}
.icon-CCTV-in-common-areas_ic:before{content:"\e9ad"}
.icon-CCTV-outside-property_ic:before{content:"\e9ae"}
.icon-CD-Player_ic:before{content:"\e9af"}
.icon-Chapel-Shrine_ic:before{content:"\e9b0"}
.icon-Child-safety-socket-covers_ic:before{content:"\e9b1"}
.icon-Childrens-cribs_ic:before{content:"\e9b2"}
.icon-Chinese_ic:before{content:"\e9b3"}
.icon-Chocolate-Cookies_1_ic:before{content:"\e9b5"}
.icon-Chocolate-Cookies_ic:before{content:"\e9b7"}
.icon-City-view_ic:before{content:"\e9b9"}
.icon-Cleaning-products_ic:before{content:"\e9bb"}
.icon-Clothes-rack_ic:before{content:"\e9bd"}
.icon-Coffee-machine_ic:before{content:"\e9bf"}
.icon-Computer_ic:before{content:"\e9c1"}
.icon-Concierge_ic:before{content:"\e9c3"}
.icon-Conditioner_ic:before{content:"\e9c5"}
.icon-Convenienece-store-on-site_ic:before{content:"\e9c7"}
.icon-Cooking-class_ic:before{content:"\e9c9"}
.icon-Currency-exchange_ic:before{content:"\e9cb"}
.icon-Cycling_ic:before{content:"\e9cd"}
.icon-Daily-housekeeping_ic:before{content:"\e9cf"}
.icon-Darts_ic:before{content:"\e9d1"}
.icon-Designated-smoking-area_ic:before{content:"\e9d3"}
.icon-Desk_ic:before{content:"\e9d5"}
.icon-Dining-area_ic:before{content:"\e9d7"}
.icon-Dining-table_ic:before{content:"\e9d9"}
.icon-Dishwasher_ic:before{content:"\e9db"}
.icon-Diving_ic:before{content:"\e9dd"}
.icon-Dry-cleaning_ic:before{content:"\e9df"}
.icon-Dryer_ic:before{content:"\e9e1"}
.icon-Drying-rack-for-clothing_ic:before{content:"\e9e3"}
.icon-DVD-Player_ic:before{content:"\e9e5"}
.icon-Electric-blankets_ic:before{content:"\e9e7"}
.icon-Electric-kettle_ic:before{content:"\e9e9"}
.icon-Electric-vehicle-charging-station_ic:before{content:"\e9eb"}
.icon-Elevator_ic:before{content:"\e9ed"}
.icon-Emergency-cord-in-bathroom_ic:before{content:"\e9ef"}
.icon-English_ic:before{content:"\e9f1"}
.icon-Entertainment-staff_ic:before{content:"\e9f2"}
.icon-Entire-unit-wheelchair-accessible_ic:before{content:"\e9f3"}
.icon-Evening-entertainment_ic:before{content:"\e9f5"}
.icon-Executive-Lounge-Access_ic:before{content:"\e9f7"}
.icon-Express-check-in-out_ic:before{content:"\e9f9"}
.icon-Extra-long-beds-6-5-ft_ic:before{content:"\e9fb"}
.icon-Facilities-for-disabled-quests_ic:before{content:"\e9fc"}
.icon-Family-rooms_ic:before{content:"\e9fd"}
.icon-Fan_ic:before{content:"\e9fe"}
.icon-Fax-Photocopying_ic:before{content:"\e9ff"}
.icon-Fax_ic:before{content:"\ea00"}
.icon-Feather-pillow_ic:before{content:"\ea01"}
.icon-Fire-extinguishers_ic:before{content:"\ea02"}
.icon-Fireplace_ic:before{content:"\ea03"}
.icon-Fishing_ic:before{content:"\ea04"}
.icon-Fitness-center_ic:before{content:"\ea05"}
.icon-Fitness-classes_ic:before{content:"\ea06"}
.icon-Fitness_ic:before{content:"\ea07"}
.icon-Flat-screen-TV_ic:before{content:"\ea08"}
.icon-Fold-up-bed_ic:before{content:"\ea09"}
.icon-Foot-bath_ic:before{content:"\ea0a"}
.icon-Free-toiletries_ic:before{content:"\ea0b"}
.icon-French_ic:before{content:"\ea0c"}
.icon-Fruit_1_ic:before{content:"\ea0d"}
.icon-Fruit_ic:before{content:"\ea0e"}
.icon-Game-console_ic:before{content:"\ea0f"}
.icon-Game-roam_ic:before{content:"\ea10"}
.icon-Game-console-Nintendo-Wii_ic:before{content:"\ea11"}
.icon-Game-console-PS2_ic:before{content:"\ea12"}
.icon-Game-console-PS3_ic:before{content:"\ea13"}
.icon-Game-console-PS4_ic:before{content:"\ea14"}
.icon-Game-console-Wii-U_ic:before{content:"\ea15"}
.icon-Game-console-Xbox-360_ic:before{content:"\ea16"}
.icon-Game-console-Xbox-One_ic:before{content:"\ea17"}
.icon-Garden-view_ic:before{content:"\ea18"}
.icon-Garden_ic:before{content:"\ea19"}
.icon-German_ic:before{content:"\ea1a"}
.icon-Gift-shop_ic:before{content:"\ea1b"}
.icon-Golf-course-within-2-miles_ic:before{content:"\ea1c"}
.icon-Grocery-deliveries_ic:before{content:"\ea1d"}
.icon-Guest-bathroom_ic:before{content:"\ea1e"}
.icon-Haeating_ic:before{content:"\ea1f"}
.icon-Hair-Beauty-salon_ic:before{content:"\ea20"}
.icon-Hairdryer_ic:before{content:"\ea21"}
.icon-Happy-hour_ic:before{content:"\ea22"}
.icon-Hardwood-or-parquet-floors_ic:before{content:"\ea23"}
.icon-Heated-pool_ic:before{content:"\ea24"}
.icon-Heating_ic:before{content:"\ea25"}
.icon-High-chair_ic:before{content:"\ea26"}
.icon-Hiking_ic:before{content:"\ea27"}
.icon-Honeymoon-suite_ic:before{content:"\ea28"}
.icon-Horseback-riding_ic:before{content:"\ea29"}
.icon-Hot-spring-bath_ic:before{content:"\ea2a"}
.icon-Hot-tub-Jacuzzi_ic:before{content:"\ea2b"}
.icon-Hot-tub_ic:before{content:"\ea2c"}
.icon-Hypoallergenic-pillow_ic:before{content:"\ea2d"}
.icon-Hypoallergenic-room-available_ic:before{content:"\ea2e"}
.icon-Hypoallergenic_ic:before{content:"\ea2f"}
.icon-Indoor-play-area_ic:before{content:"\ea30"}
.icon-Infinity-Pool_ic:before{content:"\ea31"}
.icon-Inner-courtyard-view_ic:before{content:"\ea32"}
.icon-Interconnecting-room-s-available_ic:before{content:"\ea33"}
.icon-iPad_ic:before{content:"\ea34"}
.icon-iPod-dock_ic:before{content:"\ea35"}
.icon-Iron_ic:before{content:"\ea36"}
.icon-Ironing-facilities_ic:before{content:"\ea37"}
.icon-Ironing-service_ic:before{content:"\ea38"}
.icon-Japanese_ic:before{content:"\ea39"}
.icon-Karaoke_ic:before{content:"\ea3a"}
.icon-Key-access_1_ic:before{content:"\ea3b"}
.icon-Key-access_ic:before{content:"\ea3c"}
.icon-Key-card-access_1_ic:before{content:"\ea3d"}
.icon-Key-card-access_ic:before{content:"\ea3e"}
.icon-Kid-friendly-buffet_ic:before{content:"\ea3f"}
.icon-Kids-TV-channels_ic:before{content:"\ea40"}
.icon-Kids-meals_ic:before{content:"\ea41"}
.icon-Kids-pool_ic:before{content:"\ea42"}
.icon-Kids-club_ic:before{content:"\ea43"}
.icon-Kitchen_ic:before{content:"\ea44"}
.icon-Kitchenette_ic:before{content:"\ea45"}
.icon-Kitchenware_ic:before{content:"\ea46"}
.icon-Lake-view_ic:before{content:"\ea47"}
.icon-Landmark-view_ic:before{content:"\ea48"}
.icon-Laptop-safe_ic:before{content:"\ea49"}
.icon-Laptop_ic:before{content:"\ea4a"}
.icon-Laundry_ic:before{content:"\ea4b"}
.icon-Library_ic:before{content:"\ea4c"}
.icon-Linens_ic:before{content:"\ea4d"}
.icon-Live-music-Performance_ic:before{content:"\ea4e"}
.icon-Live-sports-events-broadcast_ic:before{content:"\ea4f"}
.icon-Locker-rooms_ic:before{content:"\ea50"}
.icon-Lockers_1_ic:before{content:"\ea51"}
.icon-Lockers_ic:before{content:"\ea52"}
.icon-Lower-sink_ic:before{content:"\ea53"}
.icon-Massage-chair_ic:before{content:"\ea54"}
.icon-Massage_ic:before{content:"\ea55"}
.icon-Meeting-Banquet-facilities_ic:before{content:"\ea56"}
.icon-Microwave_ic:before{content:"\ea57"}
.icon-Minibar_ic:before{content:"\ea58"}
.icon-Mini-golf_ic:before{content:"\ea59"}
.icon-Mobile-Hotspot-Device_ic:before{content:"\ea5a"}
.icon-Mosquito-net_ic:before{content:"\ea5b"}
.icon-Mountain-view_ic:before{content:"\ea5c"}
.icon-Movie-nights_ic:before{content:"\ea5d"}
.icon-Newspapers_ic:before{content:"\ea5e"}
.icon-Nightclub-DJ_ic:before{content:"\ea5f"}
.icon-Non-feather-pillow_ic:before{content:"\ea60"}
.icon-Non-smoking-rooms_ic:before{content:"\ea61"}
.icon-Ocean-view_ic:before{content:"\ea62"}
.icon-On-site-coffee-shop_ic:before{content:"\ea63"}
.icon-Open-air-bath_ic:before{content:"\ea64"}
.icon-Outdoor-dining-area_ic:before{content:"\ea65"}
.icon-Outdoor-fireplace_ic:before{content:"\ea66"}
.icon-Outdoor-furniture_1_ic:before{content:"\ea67"}
.icon-Outdoor-furniture_ic:before{content:"\ea68"}
.icon-Outdoor-play-equipment-for-kids_ic:before{content:"\ea69"}
.icon-Oven_ic:before{content:"\ea6a"}
.icon-Packed-lunches_ic:before{content:"\ea6b"}
.icon-Pajamas_ic:before{content:"\ea6c"}
.icon-Parking-garage_ic:before{content:"\ea6d"}
.icon-Patio_ic:before{content:"\ea6e"}
.icon-Pay-per-view-channels_ic:before{content:"\ea6f"}
.icon-Personal-trainer_ic:before{content:"\ea70"}
.icon-Pet-basket_ic:before{content:"\ea71"}
.icon-Pet-bowls_ic:before{content:"\ea72"}
.icon-Picnic-area_ic:before{content:"\ea73"}
.icon-Ping-pong_ic:before{content:"\ea74"}
.icon-Playground_ic:before{content:"\ea75"}
.icon-Plunge-Pool_ic:before{content:"\ea76"}
.icon-Pool-Beach-towels_ic:before{content:"\ea77"}
.icon-Pool-cover_ic:before{content:"\ea78"}
.icon-Pool-table_ic:before{content:"\ea79"}
.icon-Pool-towels_ic:before{content:"\ea7a"}
.icon-Pool-view_ic:before{content:"\ea7b"}
.icon-Pool-with-a-view_ic:before{content:"\ea7c"}
.icon-Private-bathroom_ic:before{content:"\ea7d"}
.icon-Private-check-in-out_ic:before{content:"\ea7e"}
.icon-Private-entrance_ic:before{content:"\ea7f"}
.icon-Private-pool_ic:before{content:"\ea80"}
.icon-Public-transit-tickets_ic:before{content:"\ea81"}
.icon-Quiet-street-view_ic:before{content:"\ea82"}
.icon-Racquetball_ic:before{content:"\ea83"}
.icon-Radio_ic:before{content:"\ea84"}
.icon-Raised-toilet_ic:before{content:"\ea85"}
.icon-Refrigerator_ic:before{content:"\ea86"}
.icon-Restaurant_ic:before{content:"\ea87"}
.icon-River-view_ic:before{content:"\ea88"}
.icon-Roll-in-shower_ic:before{content:"\ea89"}
.icon-Rooftop-pool_ic:before{content:"\ea8a"}
.icon-Room-is-completely-wheelchair-accessible_ic:before{content:"\ea8b"}
.icon-Room-is-located-on-the-ground-floor_ic:before{content:"\ea8c"}
.icon-Room-service_ic:before{content:"\ea8d"}
.icon-Safe_1_ic:before{content:"\ea8e"}
.icon-Safe_ic:before{content:"\ea8f"}
.icon-Saltwater-pool_ic:before{content:"\ea90"}
.icon-Satellite-channels_ic:before{content:"\ea91"}
.icon-Sauna_1_ic:before{content:"\ea92"}
.icon-Sauna_ic:before{content:"\ea93"}
.icon-Secure-parking_ic:before{content:"\ea94"}
.icon-Security-alarm_ic:before{content:"\ea95"}
.icon-Shampoo_ic:before{content:"\ea96"}
.icon-Shared-bathroom_ic:before{content:"\ea97"}
.icon-Shared-kitchen_ic:before{content:"\ea98"}
.icon-Shared-lounge-TV-area_ic:before{content:"\ea99"}
.icon-Shared-toilet_ic:before{content:"\ea9a"}
.icon-Shoeshine_ic:before{content:"\ea9b"}
.icon-Shops-on-site_ic:before{content:"\ea9c"}
.icon-Shower-cap_ic:before{content:"\ea9d"}
.icon-Shower-chair_ic:before{content:"\ea9e"}
.icon-Shower_ic:before{content:"\ea9f"}
.icon-Shuttle-service_ic:before{content:"\eaa0"}
.icon-Sitting-area_ic:before{content:"\eaa1"}
.icon-Ski-shuttle_ic:before{content:"\eaa2"}
.icon-Skiing_ic:before{content:"\eaa3"}
.icon-Slippers_ic:before{content:"\eaa4"}
.icon-Smartphone_ic:before{content:"\eaa5"}
.icon-Smoke-Alarm_ic:before{content:"\eaa6"}
.icon-Smoke-alarms_ic:before{content:"\eaa7"}
.icon-Smoke-free-property_ic:before{content:"\eaa8"}
.icon-Snack-bar_ic:before{content:"\eaa9"}
.icon-Snorkeling_ic:before{content:"\eaaa"}
.icon-Socket-near-the-bed_ic:before{content:"\eaab"}
.icon-Sofa-bed_ic:before{content:"\eaac"}
.icon-Sofa_ic:before{content:"\eaad"}
.icon-Solarium_ic:before{content:"\eaae"}
.icon-Soundproof-rooms_ic:before{content:"\eaaf"}
.icon-Soundproof_ic:before{content:"\eab0"}
.icon-Spa-facilities_ic:before{content:"\eab1"}
.icon-Spa-lounge-Relaxation-area_ic:before{content:"\eab2"}
.icon-Spa-tub_ic:before{content:"\eab3"}
.icon-Spa-Wellness-packages_ic:before{content:"\eab4"}
.icon-Spa_ic:before{content:"\eab5"}
.icon-Special-diet-meals-on-request_ic:before{content:"\eab6"}
.icon-Stand-up-comedy_ic:before{content:"\eab7"}
.icon-Steam-room_ic:before{content:"\eab8"}
.icon-Stovetop_ic:before{content:"\eab9"}
.icon-Streaming-service-like-Netflix_ic:before{content:"\eaba"}
.icon-Street-parking_ic:before{content:"\eabb"}
.icon-Strollers_ic:before{content:"\eabc"}
.icon-Suit-press_ic:before{content:"\eabd"}
.icon-Sult-press_ic:before{content:"\eabe"}
.icon-Sun-deck_ic:before{content:"\eabf"}
.icon-Swimming-pool_ic:before{content:"\eac0"}
.icon-Tea-Coffee-maker_ic:before{content:"\eac1"}
.icon-Telephone_ic:before{color:#ccc;content:"\eac2"}
.icon-Temporary-art-galleries_ic:before{content:"\eac3"}
.icon-Tennis-court_ic:before{content:"\eac4"}
.icon-Tennis-equipment_ic:before{content:"\eac5"}
.icon-Terrace_1_ic:before{content:"\eac6"}
.icon-Terrace_ic:before{content:"\eac7"}
.icon-Themed-dinners_ic:before{content:"\eac8"}
.icon-Ticket-service_ic:before{content:"\eac9"}
.icon-Tickets-to-shows-attractions_ic:before{content:"\eaca"}
.icon-Tile-Marble-floor_ic:before{content:"\eacb"}
.icon-Toaster_ic:before{content:"\eacc"}
.icon-Toilet-paper_ic:before{content:"\eacd"}
.icon-Toilet-with-grab-rails_ic:before{content:"\eace"}
.icon-Toilet_ic:before{content:"\eacf"}
.icon-Toothbrush_ic:before{content:"\ead0"}
.icon-Tour-desk_ic:before{content:"\ead1"}
.icon-Tour-or-class-about-local-culture_ic:before{content:"\ead2"}
.icon-Towels-Sheets_ic:before{content:"\ead3"}
.icon-Towels_ic:before{content:"\ead4"}
.icon-Trash-cans_ic:before{content:"\ead5"}
.icon-Turkish-Steam-Bath_ic:before{content:"\ead6"}
.icon-TV_ic:before{content:"\ead7"}
.icon-Upper-floors-accessible-by-elevator_ic:before{content:"\ead8"}
.icon-Upper-floors-accessible-by-stairs-only_ic:before{content:"\ead9"}
.icon-Valet-parking_ic:before{content:"\eada"}
.icon-Vending-machine-drinks_ic:before{content:"\eadb"}
.icon-Vending-machine-snacks_ic:before{content:"\eadc"}
.icon-Video-games_ic:before{content:"\eadd"}
.icon-Video_ic:before{content:"\eade"}
.icon-Vietnamese_ic:before{content:"\eadf"}
.icon-View_ic:before{content:"\eae0"}
.icon-VIP-room-facilities_ic:before{content:"\eae1"}
.icon-Wake-up-service-Alarm-clock_ic:before{content:"\eae2"}
.icon-Wake-up-service_ic:before{content:"\eae3"}
.icon-Walk-in-closet_ic:before{content:"\eae4"}
.icon-Walk-In-shower_ic:before{content:"\eae5"}
.icon-Walking-tours_ic:before{content:"\eae6"}
.icon-Wardrobe-or-closet_ic:before{content:"\eae7"}
.icon-Washing-machine_ic:before{content:"\eae8"}
.icon-Water-park_ic:before{content:"\eae9"}
.icon-Waterslide_ic:before{content:"\eaea"}
.icon-Water-sports-facilities-on-site_ic:before{content:"\eaeb"}
.icon-Windsurfing_ic:before{content:"\eaec"}
.icon-Wine-Champagne_ic:before{content:"\eaed"}
.icon-Wine-Champaqne_ic:before{content:"\eaee"}
.icon-Wine-glasses_ic:before{content:"\eaef"}
.icon-Yoga-classes_ic:before{content:"\eaf0"}
.icon-active-ic:before{content:"\e9b4"}
.icon-add-ic:before{content:"\e9b6"}
.icon-agency-ic:before{content:"\e9b8"}
.icon-agency-list-ic:before{content:"\e9ba"}
.icon-back-ic:before{content:"\e9bc"}
.icon-cancel-ic:before{content:"\e9be"}
.icon-contact-ez-ic:before{content:"\e9c0"}
.icon-contact-list-ez-ic:before{content:"\e9c2"}
.icon-dashboard-ic:before{content:"\e9c4"}
.icon-deactive-ic:before{content:"\e9c6"}
.icon-delete-ic:before{color:red;content:"\e9c8"}
.icon-download-ic:before{content:"\e9ca"}
.icon-edit-ic:before{content:"\e9cc"}
.icon-export-ic:before{content:"\e9ce"}
.icon-history-ic:before{content:"\e9d0"}
.icon-hotel-ic:before{content:"\e9d2"}
.icon-hotel-list-ic:before{content:"\e9d4"}
.icon-mail-complete-ic:before{content:"\e9d6"}
.icon-mail-not-complete-ic:before{content:"\e9d8"}
.icon-mail-resend-ic:before{content:"\e9da"}
.icon-notifications-ic:before{content:"\e9dc"}
.icon-print-ic:before{content:"\e9de"}
.icon-qa-gr-ic:before{content:"\e9e0"}
.icon-qa-ic:before{content:"\e9e2"}
.icon-sample-text-gr-ic:before{content:"\e9e4"}
.icon-sample-text-ic:before{content:"\e9e6"}
.icon-save-ic:before{content:"\e9e8"}
.icon-search-ic:before{content:"\e9ea"}
.icon-support-ic:before{content:"\e9ec"}
.icon-upload-ic:before{content:"\e9ee"}
.icon-view-ic:before{content:"\e9f0"}
.icon-account-ic:before{content:"\e9f4"}
.icon-copy-ic:before{content:"\e9f6"}
.icon-group-user-ic:before{content:"\e9f8"}
.icon-user-list-ic:before{content:"\e9fa"}
.icon-Booking1:before{content:"\eaf1"}
.icon-Collapse:before{content:"\eaf2"}
.icon-Export-to-Excel:before{content:"\eaf3"}
.icon-Favorite:before{content:"\eaf4"}
.icon-Flight:before{content:"\eaf5"}
.icon-Home:before{content:"\eaf6"}
.icon-Location1:before{content:"\eaf7"}
.icon-Off:before{content:"\eaf8"}
.icon-Phone:before{content:"\eaf9"}
.icon-Print:before{content:"\eafa"}
.icon-Recent:before{content:"\eafb"}
.icon-Report1:before{content:"\eafc"}
.icon-Search1:before{content:"\eafd"}
.icon-Tour:before{content:"\eafe"}
.icon-Trash:before{content:"\eaff"}
.icon-Unlock:before{content:"\eb00"}
.icon-Upload-Image:before{content:"\eb01"}

.hotelBox .hotel_item{display: inline-block; width: 100%;}
.hotelBox .hotel_item .photo{display: inline-block; width: 212px; float: left; position: relative}
.hotelBox .hotel_item .photo figure{position: absolute; bottom: 10px; right: 10px;background-color: #1eab1e;color: #fff;padding: 0 10px 0 30px;border-radius:12px;box-shadow: 0 1px 4px 0 rgba(0,0,0,.8);}
.hotelBox .hotel_item .photo figure p{margin: 0; line-height: 24px;}
.hotelBox .hotel_item .photo figure .icon-best-price-star {
    font-size: 24px;
    background-color: #fff;
    border-radius: 50%;
    color: #1eab1e;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.hotelBox .hotel_item .photo img{border-radius: 6px 0px 0px 6px;height: 139px;width: 225px; display: inline-block;object-fit: cover;}
.hotelBox .hotel_item .body_hotel{display: inline-block; width: calc(100% - 212px); float: left; padding:10px 15px}
.hotel_item .body_hotel .body_price{display: inline-block; width: 180px; float: left;}
.hotel_item .body_hotel .body_info{display: inline-block; float: left; width: calc(100% - 180px)}
