.VideoItem{display:inline-block; width:100%;}
.VideoItem .title_video{margin:10px 0;}
.title_video a{font-size:18px; font-weight:700; color:#333; display:inline-block; width:100%; line-height:24px;}
.VideoItem img{border-radius:4px;}
.VideoItem .relative i.icon{position:absolute; width:60px; height:42px; top: 50%;left: 50%;z-index: 1;transform: translate(-50%,-50%)}
.VideoItem .relative i.icon_play_video{background:url(/isocms/templates/default/skin/images/icon/icon_play_youtube.png) no-repeat center center}

@media (min-width: 992px) {
#apend_html .box_append:nth-child(3n + 1){clear:left}
}
@media (max-width: 767px) {
#apend_html .box_append:nth-child(2n + 1){clear:left}
}