#select_style_ul::-webkit-scrollbar-track
{-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);background-color: #D1D3D4;}
#select_style_ul::-webkit-scrollbar
{width: 6px;background-color: #D1D3D4;}
#select_style_ul::-webkit-scrollbar-thumb
{background-color: #6F7274;}
.selectstyle{position:relative;width: 100% !important;}
.selectstyle:after{display: none;position: absolute;width: 11px;height: 6px;font-family: 'FontAwesome';content: "\f0d7";right: 15px;top: 20px;}
.ss_dib{display:inline-block;vertical-align:top;width: 100% !important}
.ss_button{height: 40px;
	font-weight: 400;
	line-height: 40px;
	border: none;
	background: transparent;
	border-radius: 0;
	padding-left: 47px;width: 100% !important}
.ss_text{white-space:normal;text-overflow:ellipsis;text-indent:0;white-space:nowrap;overflow:hidden;width: 100% !important;margin: 0 !important;}
.ss_image{position:absolute;width:7px;height:11px;background:url('../images/google.png') no-repeat;}
.ss_ul{list-style:none;padding:8px 0; margin:0; margin-top:-35px;position:absolute;background:#fff;border:1px solid #ccc;-moz-box-shadow:0 1px 5px 1px rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 5px 1px rgba(0,0,0,0.1);box-shadow:0 1px 5px 1px rgba(0,0,0,0.1); border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; display:none;overflow:auto;z-index:100;}
.selectstyle .ss_ulsearch{margin:0;margin-top:0px !important;position:absolute;background:#fff;border:1px solid #ccc;-moz-box-shadow:0 1px 5px 1px rgba(0,0,0,0.1);-webkit-box-shadow:0 1px 5px 1px rgba(0,0,0,0.1);box-shadow:0 1px 5px 1px rgba(0,0,0,0.1);border-radius: 0;-moz-border-radius: 0;-webkit-border-radius: 0;overflow:auto;z-index:100;display:none;width:100%!important;padding:5px!important;}
.selectstyle .ss_ulsearch:before{
	display: none;
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 0 0;
	border-color: #FF9200 transparent transparent transparent;}
.ss_ulsearch .ss_ul{display:block;position:relative;margin-top:0;border:none;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px;width: 100% !important;max-height: unset !important;}
.ss_ulsearch .search{border: 1px solid #D1D3D4;padding:0;}
.ss_ulsearch .search input{background:inherit;border:none;height: 36px;padding:5px 10px;outline:none;font-size: 14px;width: 100% !important;width:-moz-calc(100% - 30px);width:-o-calc(100% - 30px);}
.ss_ulsearch .search input:focus{outline:none;}
.ss_ulsearch .nosearch{text-align:center;font-size:12px;padding-bottom:10px;background:#fff;}
.ss_ul li{cursor:pointer;border:none;text-align:left;color: #231F20;transition-duration:.3s;-moz-transition-duration:.3s;-webkit-transition-duration:.3s;-o-transition-duration:.3s;font-size: 18px;padding: 0;line-height: 28px;padding: 6px 0;}
.ss_ul li:hover{border:none;background: none;color: #F8991D;text-decoration: 1px solid #F8991D;}
.ss_ul li .ssli_text{vertical-align:top;display:inline-block;position: relative; }
.ss_ul li:hover .ssli_text:after{width: 100%; height: 1px; background:#F8991D; position: absolute; bottom: 5px; left: 0; right: 0;content: "";}
.ss_ul li .ssli_image{display:inline-block;width:16px;height:16px;margin-right:10px;margin-top:-1px;vertical-align:top;}
.ss_ul li .ssli_image img{width:16px;height:16px;}
.ss_ul::-webkit-scrollbar {width:10px;}
.ss_ul::-webkit-scrollbar:horizontal{height:10px;}
.ss_ul::-webkit-scrollbar-track {border-left:1px solid #D3D3D3;background:#F5F5F5;}
.ss_ul::-webkit-scrollbar-thumb {background:#C4C4C4;}