.detail_top_box .d-flex {
    height: 861px;
    min-height: 500px;
}

.detail_top_box .col-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 1023px) {
    .detail_top_box .d-flex {
        flex-direction: column-reverse;
        height: auto;
        min-height: auto;
    }
}

@media (max-width: 1023px) {
    .detail_top_box .col-photo {
        width: 100%;
    }
}

@media (min-width: 1440px) {
    .detail_top_box .col-text {
        padding-right: calc((100vw - 1310px) / 2) !important;
    }
}

@media (max-width: 767px) {
    .detail_top_box .col-text {
        width: 100%;
        padding: 30px 8px;
    }
}

@media (max-width: 1023px) {
    .detail_top_box .col-text {
        width: 100%;
        padding: 50px 10px;
    }
}

.detail_top_box .col-text {
    width: calc(100% - 53.9%);
    height: 100%;
    background: linear-gradient(0deg, #111d37 0%, #111d37 100%),
        url(<path-to-image>) lightgray 50% / cover no-repeat;
    align-items: center;
    display: flex;
    padding: 47px;
}

.country_cat {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.detail_top_box .col-text .blog_info .title {
    color: #fff;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 162.5% */
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
}

.bground_introtxt .col-md-6 {
    padding-right: 0;
    padding-left: 0;
}

.rounded_right {
    background-color: #111d37;
    color: white;
    padding: 47px;
    display: flex;
    align-items: center;
    /*    justify-content: center;*/
}

.publish_date i {
    margin-right: 7px;
}
.author i {
    margin-right: 7px;
}
/* Blog Detail Header End*/

/* Blog Detail Body */

.listblogdetail_breadcrumb {
    padding: 1px 0 0px 0;
    background: #fff;

    position: relative;
    z-index: 2;
    top: 10%;
}

.content_blog {
    display: flex;
    flex-direction: column;
}
.content_blog img {
    width: 100%;
}
/* Blog Detail Body End */

.item_blogdetail {
    display: inline-flex;
    flex-direction: column;
    gap: 24px;
    max-width: 908px;
}

.introduct_txt {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.title-detailblog {
    color: #111d37;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.txt_p_detailblog {
    color: var(--Neutral-1, #111d37);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.time_txt_detailblog {
    color: var(--Neutral-1, #111d37);
    font-family: "SF Pro Display";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
}

.txt_ico_share_star {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #d3dce1;
}

.txtshare {
    color: #959aa4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-top: 19px;
    margin-right: 10px;
}

.txt_ico_share .share-content {
    display: flex;
    align-items: center;
}

.rating-and-votes {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.star-icons i {
    margin-right: 3px;
}

.vote-count {
    color: #959aa4;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.txt_des_tour {
    display: grid;
    gap: 8px;
}

.txt_overviewtour {
	display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
	color: #959AA4;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
    max-height: 62px;
}

/* CSS Related Tour */

.list_viewtour {
    margin-bottom: 32px;
    display: grid;
    gap: 8px;
}

.img_toursrelated img {
    border-radius: 8px;
    width: 100%;
    max-width: 296px !important;
    height: 200px;
}

.txth_relatedtour {
    color: #111d37;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 155.556% */
}

.score_reviewtour {
    margin-bottom: 3px;
}

.border_score {
    display: inline-flex;
    padding: 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
    background: #13b97d;
    color: #fff;
    font-size: 14px;
}
.txt_score {
    color: #13b97d;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-left: 8px;
}

.txt_placetours {
    color: #434b5c;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 8px;
}

.border_place {
    display: inline-flex;
    padding: 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 2px;
    background-color: rgba(255, 167, 24, 0.2);
    color: #ffa718 !important;
    margin-left: 8px;
    width: 34px;
    height: 22px;
    font-size: 14px;
}

.txt_reviewstour {
    color: #959aa4;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 3px;
}

.from_txtp {
    color: #959aa4;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: auto;
}

.txt_price {
    display: flex;
    align-items: baseline;
}
.from_price {
    flex-direction: row;
}

.txt_price {
    color: #ffa718;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}
.txt_numbprice {
    color: #ffa718;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    margin-left: 5px;
}


/*
.border_exploremore:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        180deg,
        rgba(24, 28, 26, 0.48) 0%,
        rgba(24, 28, 26, 0) 100%
    );
    z-index: 1;
    border-radius: 8px;
}
*/

.border_exploremore img {
	filter: brightness(70%);
	width: 100%;
}
.txt_btnexploremore {
	position: absolute;
    top: 50%;
    left: 28px;
    right: 30px;
    transform: translateY(-50%);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.tour_exploretxt {
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    	z-index: 2;
	margin: 0;
}

.border_exploremore {
    position: relative;

    z-index: 1;

    border-radius: 8px;

}

.btn_seealltour {
        display: table;
        margin: 0 auto;
        padding: 12px 20px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 8px;
        background: var(--Primary, #FFA718);
        color: #fff;
		border: none;

}

.btn_seealltour:hover {
    background: #e88f00 !important;
    color: #fff !important;
    border: none !important;
}

/* CSS Related Tour End */

/* CSS Read The Next */

.tag_blog {
    display: flex;
    align-items: baseline;
}

.tags_ {
    display: flex;
    margin-left: 8px;
}

.txt_tag_ {
    margin-left: 8px;
}

.txt_readblog {
    color: #111d37;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 52px;
    position: relative;
    margin-top: 90px;
    margin-bottom: 24px;
}

.txt_readblog::after {
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    height: 10px;
    background-color: #ffa718;
    z-index: -1;
    width: 11%;
    left: 6%;
    bottom: 18%;
}

.blog_related_item {
    display: flex;
    margin-bottom: 42px;
}

.blog_related_item .body_txtreadblog {
    width: calc(100% - 145px);
    padding-left: 16px;
}

@media (min-width: 1200px) {
    .related_top .blog_related_item .body_txtreadblog {
        width: calc(100% - 58.75%);
        padding-left: 50px;
    }
}

.pic_read {
    border-radius: 8px;
}

.txt_cateblog {
    color: #434b5c;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
}

.txt_cateblog a {
    color: #434b5c;
}

.txthigh_cateblog a {
    color: #111d37;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%; /* 44.8px */
    text-decoration: none;
}

.txtdes_cateblog {
    color: #434b5c;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin-top: 34px;
}

.txthigh_cateblog_ {
    color: #111d37;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; /* 160% */
}

.txthigh_cateblog_ a {
    color: #111d37;
    text-decoration: none;
}

.list_readblog {
    margin-bottom: 100px;
}

.list_readblog .item {
    display: flex;
    margin: 42px 0px 0px 0px;
}

.list_readblog .text-content {
    margin-left: 15px;
}

/*
.list_readblog {
  flex-wrap: nowrap;
}
*/

.list_readblog img {
    /*
	width: 100%;
  max-width: 144px !important;
  height: 145px;
*/
    object-fit: cover;
    border-radius: 8px;
}

.btn_viewtour {
    display: flex;
    width: 117px;
    padding: 12px 0px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    background: #ffa718 !important;
    color: #fff !important;
}

.btn_viewtour:hover {
    background: #e88f00 !important;
}

/* CSS Detail Blog End*/

@media only screen and (max-width: 750px) {
    .rounded_right {
        width: auto;
    }
}

@media only screen and (max-width: 750px) {
    .bground_introtxt .col-md-6 {
        padding-right: revert-layer;
    }
}

@media only screen and (max-width: 750px) {
    .txth2_blogdetail {
        width: auto;
    }
}

.alsoLike {
    margin-top: 68px;
}

.alsoLike-slide {
    width: 100%;
}

#slide-items {
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 481px !important;
    width: 100%;
    height: 698px;
}

#slide-items:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transform-origin: center center;
    transition: all 0.3s !important;
}

.alsoLike-items a {
    position: relative;
    overflow: hidden;
}

.alsoLike-items {
    position: relative;
    overflow: hidden;
}

.alsoLike-items #slide-items {
    width: 100%;
}

.alsoLike-items #slide-items:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    transform-origin: center center;
    transition: all 0.3s !important;
}

.alsoLike-content_title {
    position: absolute;
    bottom: 41px;
    left: 36px;
}

.alsoLike-content_title a {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    color: #ffffff;
}

.alsoLike-head {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alsoLike-title {
    display: inline-block;
    z-index: 2;
    font-size: 32px;
    line-height: 52px;
    font-weight: 600;
    color: #111d37;
    margin-bottom: 48px;
    position: relative;
}

.alsoLike-title:nth-last-child(-n + 2)::after {
    content: "";
    position: absolute;
    bottom: 11px;
    right: 50%;
    left: 52%;
    width: 50%;
    transform: translate(-50%, -50%);
    height: 5px;
    background-color: #ffa718;
    z-index: -1;
}

.sharer-icon {
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 40px !important;
    height: 40px !important;
    border-radius: 50% !important;
    margin-right: 8px !important;
    background-color: #ffffff !important;
    color: #959aa4 !important;
    text-decoration: none !important;
    box-shadow: 0px 12px 32px 0px rgba(125, 135, 158, 0.09) !important;
    transition: color 0.3s !important;
    margin-left: 5px !important;
    border-color: unset !important;
}

.sharer-icon:hover {
    color: #ffa718 !important;
    box-shadow: 0px 12px 32px 0px #ffa718 !important;
    transform: scale(1.1) !important;
}

/*
.rating {
	direction: rtl;
	unicode-bidi: bidi-override;
	color: #ddd;
	color: #ffc107;
}
*/
.rating input {
    display: none;
}
.rating label:hover,
.rating label:hover ~ label,
.rating input:checked + label,
.rating input:checked + label ~ label {
    color: #ffc107;
}

.txt_des_tour p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.txtdes_cateblog {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tag-link {
    list-style-type: none;
    margin-left: 8px;
}

/*
.tag-link a::before {
  content: "#";
}
*/

.tag_blog .listtag {
    list-style: none;
    padding: 0;
    margin: 0 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag_blog .listtag li {
    margin: 0;
}

.tag_blog .listtag a {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #959aa4;
    display: inline-block;
}

.listtag .tag-link a:not(:empty)::before {
    content: "#"; /* Nội dung của phần tử giả là ký tự # */
}

.list_readthenextitem {
    display: flex;
    margin-bottom: 100px;
}

.img_relatedtour .photo {
    width: 144px;
}

.list_readthenextitem .text-content {
    width: calc(100% - 145px);
    padding-left: 16px;
}

.mt0 {
    margin-top: 0 !important;
}

.detail_top_box .d-flex {
    height: calc(100vh - 115px);
    min-height: 500px;
}

.detail_top_box .col-photo {
    width: 53.9%;
    height: 100%;
}

.detail_top_box .col-photo img {
    height: 100%;
    object-fit: cover;
}

.detail_top_box .col-text {
    width: calc(100% - 53.9%);
    height: 100%;
    background: rgba(17, 29, 55, 1);
    align-items: center;
    display: flex;
    padding: 47px;
}

.detail_top_box .col-text * {
    color: rgba(255, 255, 255, 1);
}

.detail_top_box .col-text a:hover {
    color: var(--main-color-2);
}

.detail_top_box .col-text .blog_info .country_cat {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 12px;
}

.detail_top_box .col-text .blog_info .title {
    font-size: 38px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 16px;
}

.detail_top_box .col-text .blog_info .intro {
    margin-bottom: 32px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    font-size: 18px;
}

@media (max-width: 1023px) {
    .detail_top_box .d-flex {
        flex-direction: column-reverse;
        height: auto;
        min-height: auto;
    }

    .detail_top_box .col-photo {
        width: 100%;
    }

    .detail_top_box .col-photo img {
        width: 100%;
        height: auto !important;
    }

    .detail_top_box .col-text {
        width: 100%;
        padding: 50px 10px;
    }

    .detail_top_box .col-text .blog_info {
        max-width: 930px;
        margin: 0 auto;
    }

    .detail_top_box .col-text .blog_info .title {
        display: inline-block !important;
    }

    .blog_detail_body .pageBlogDefault {
        padding-top: 10px;
    }

    .pageBlogDefault .share_detail_box {
        width: 100%;
        z-index: 9;
        position: relative !important;
        top: unset !important;
        left: unset !important;
        background: #fff;
        padding-top: 10px;
        padding-right: 12px;
    }

    .pageBlogDefault .share_detail_box .col-share {
        flex-direction: row;
        justify-content: flex-end;
        margin-bottom: 10px;
    }

    .col-share .share_news .sharer-icons {
        flex-direction: row !important;
        gap: 10px;
    }

    .pageBlogDefault .col-share span {
        display: block !important;
        margin-right: 0.5rem;
    }
}

@media (max-width: 991px) {
    .detail_top_box .col-text .blog_info {
        max-width: 690px;
    }
}

@media (max-width: 991px) {
    .mb992_30 {
        margin-bottom: 30px !important;
    }
}

@media (max-width: 767px) {
    .mb768_30 {
        margin-bottom: 30px !important;
    }

    .blog_default_body .banner {
        min-height: 160px;
    }

    .detail_top_box .col-text .blog_info .title {
        font-size: 32px;
        line-height: 48px;
    }

    .detail_top_box .col-text {
        width: 100%;
        padding: 30px 8px;
    }

    .blog_related_item .body p.country_cat {
        font-size: 14px;
        line-height: 21px;
    }

    .blog_related_item .body h3 a {
        font-size: 18px;
        line-height: 27px;
    }

    .tag_voted {
        flex-direction: column;
    }

    .tag_voted .tag_blog {
        flex-direction: column;
        width: 100%;
    }

    .tag_voted .tag_blog .title_box {
        margin-bottom: 5px;
    }

    .tag_voted .listtag {
        list-style: none;
        padding: 0;
        display: flex;
        gap: 8px;
        flex-wrap: wrap;
        margin: 0;
    }

    .tag_voted .listtag li {
        margin-left: 0;
    }

    .tag_voted .voted {
        margin-top: 20px;
    }

    .read_this_next.mt80 {
        margin-top: 50px !important;
    }

    .read_this_next.mb70 {
        margin-bottom: 0 !important;
    }
}

@media (min-width: 1440px) {
    .detail_top_box .col-text {
        padding-right: calc((100vw - 1310px) / 2);
    }
}

.blog_detail_body .breadcrumb_list {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.country_cat a:hover {
    color: #ffa718 !important;
}

.intro p strong {
    font-weight: normal; /* Hoặc 400 */
}

.item_blogdetail .content_blog p img {
    max-width: 100%;
    object-fit: cover;
}
