RewriteEngine on
<Limit GET POST>
order deny,allow
deny from all
allow from all
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
<Files ~ "\.(tpl|inc|cfg)$"> 
order deny,allow 
deny from all 
</files>

RewriteEngine On
#RewriteCond %{HTTPS} off
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

#RewriteCond %{SERVER_PORT} ^443$
#RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
 

#RewriteCond !{HTTPS} off
#RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
#RewriteCond %{HTTP_HOST} !^www\.
#RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


RewriteRule ^editor/tiny_mce/plugins/advimage/image.htm$	index.php?mod=editor&act=image [L] 
RewriteRule ^editor/tiny_mce/plugins/advlink/link.htm$	index.php?mod=editor&act=link [L]
RewriteRule ^isomanager/$		index.php?mod=editor&act=manager [L]


#--ads--
RewriteRule ^ads/insert/([0-9]*)/(.*)/(.*)$			index.php?mod=ads&act=insert&ads_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^ads/insert/([0-9]*)/(.*)$				index.php?mod=ads&act=insert&ads_id=$1&panel=$2 [QSA,L]

#--blog--
RewriteRule ^blog/insert/([0-9]*)/(.*)/(.*)$		index.php?mod=blog&act=insert&blog_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^blog/insert/([0-9]*)/(.*)$				index.php?mod=blog&act=insert&blog_id=$1&panel=$2 [QSA,L]

#--cruise--
RewriteRule ^cruise/insert/([0-9]*)/(.*)/(.*)$		index.php?mod=cruise&act=insert&cruise_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^cruise/insert/([0-9]*)/(.*)$		index.php?mod=cruise&act=insert&cruise_id=$1&panel=$2 [QSA,L]
RewriteRule ^cruise/insert/([0-9]*)/(.*)/(.*)&message=(.*)$		index.php?mod=cruise&act=insert&cruise_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^cruise/insert/([0-9]*)/(.*)&message=(.*)$		index.php?mod=cruise&act=insert&cruise_id=$1&panel=$2 [QSA,L]

#--combo--
RewriteRule ^combo/insert/([0-9]*)/(.*)/(.*)$	index.php?mod=combo&act=insert&table_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^combo/insert/([0-9]*)/(.*)$		index.php?mod=combo&act=insert&table_id=$1&panel=$2 [QSA,L]

#--city--
RewriteRule ^city/insert/([0-9]*)/(.*)/(.*)$		index.php?mod=city&act=insert&city_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^city/insert/([0-9]*)/(.*)$				index.php?mod=city&act=insert&city_id=$1&panel=$2 [QSA,L]

#--country--
RewriteRule ^country/insert/([0-9]*)/(.*)/(.*)$		index.php?mod=country&act=insert&country_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^country/insert/([0-9]*)/(.*)$			index.php?mod=country&act=insert&country_id=$1&panel=$2 [QSA,L]




#--hotel--
RewriteRule ^hotel/insert/([0-9]*)/(.*)/(.*)$		index.php?mod=hotel&act=insert&hotel_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^hotel/insert/([0-9]*)/(.*)$		index.php?mod=hotel&act=insert&hotel_id=$1&panel=$2 [QSA,L]



#--voucher--
RewriteRule ^voucher/insert/([0-9]*)/(.*)/(.*)$		index.php?mod=voucher&act=insert&voucher_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^voucher/insert/([0-9]*)/(.*)$			index.php?mod=voucher&act=insert&voucher_id=$1&panel=$2 [QSA,L]


#--region--
RewriteRule ^region/insert/([0-9]*)/(.*)/(.*)$		index.php?mod=region&act=insert&region_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^region/insert/([0-9]*)/(.*)$			index.php?mod=region&act=insert&region_id=$1&panel=$2 [QSA,L]



#--guide--
RewriteRule ^guide/insert/([0-9]*)/(.*)/(.*)$			index.php?mod=guide&act=insert&guide_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^guide/insert/([0-9]*)/(.*)$				index.php?mod=guide&act=insert&guide_id=$1&panel=$2 [QSA,L]
RewriteRule ^guide/category/insert/([0-9]*)/(.*)/(.*)$	index.php?mod=guide&act=insertCat&guidecat_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^guide/category/insert/([0-9]*)/(.*)$		index.php?mod=guide&act=insertCat&guidecat_id=$1&panel=$2 [QSA,L]
RewriteRule ^guide/category_country/insert/([0-9]*)/(.*)/(.*)$	index.php?mod=guide&act=insertCatCountry&guidecat_store_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^guide/category_country/insert/([0-9]*)/(.*)$		index.php?mod=guide&act=insertCatCountry&guidecat_store_id=$1&panel=$2 [QSA,L]

RewriteRule ^guide/compose/insert/([0-9]*)/(.*)/(.*)$			index.php?mod=guide&act=insert2&guide2_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^guide/compose/insert/([0-9]*)/(.*)$				index.php?mod=guide&act=insert2&guide2_id=$1&panel=$2 [QSA,L]

#--faqs--
RewriteEngine On
RewriteRule ^faqs/insert/([0-9]*)/(.*)$				index.php?mod=faqs&act=insert&faq_id=$1&panel=$2 [QSA,L]





#--news--
RewriteRule ^news/insert/([0-9]*)/(.*)/(.*)$		index.php?mod=news&act=insert&news_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^news/insert/([0-9]*)/(.*)$				index.php?mod=news&act=insert&news_id=$1&panel=$2 [QSA,L]

#--meta--
RewriteRule ^meta/insert/([0-9]*)/(.*)$				index.php?mod=meta&act=insert&meta_id=$1&panel=$2 [QSA,L]

#--partner--
RewriteRule ^partner/insert/([0-9]*)/(.*)/(.*)$		index.php?mod=partner&act=insert&partner_id=$1&type=$2&panel=$3 [QSA,L]
RewriteRule ^partner/insert/([0-9]*)/(.*)$				index.php?mod=partner&act=insert&partner_id=$1&panel=$2 [QSA,L]
RewriteRule ^partner/insertcat/([0-9]*)/(.*)/([0-9]*)/(.*)$		index.php?mod=partner&act=insert&partner_id=$1&type=$2&cat_id=$3&panel=$4 [QSA,L]
RewriteRule ^partner/insertcat/([0-9]*)/([0-9]*)/(.*)$				index.php?mod=partner&act=insert&partner_id=$1&cat_id=$2&panel=$3 [QSA,L]


#--page--
RewriteRule ^page/insert/([0-9]*)/(.*)/(.*)$		index.php?mod=page&act=insert&page_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^page/insert/([0-9]*)/(.*)$				index.php?mod=page&act=insert&page_id=$1&panel=$2 [QSA,L]

#--property activities--
RewriteRule ^property/activities/insert/([0-9]*)/(.*)/(.*)$			index.php?mod=property&act=insert_activities&activities_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^property/activities/insert/([0-9]*)/(.*)$				index.php?mod=property&act=insert_activities&activities_id=$1&panel=$2 [QSA,L]


#--tour exhautive category country--
RewriteRule ^tour/categorycountry/insert/([0-9]*)/(.*)/(.*)$	        index.php?mod=tour_exhautive&act=insert_category_country&category_country_id=$1&panel=$2&step=$3 [QSA,L]

RewriteRule ^tour/categorycountry/insert/([0-9]*)/(.*)$				    index.php?mod=tour_exhautive&act=insert_category_country&category_country_id=$1&panel=$2 [QSA,L]

#--tour exhautive travelstyle country--
RewriteRule ^tour/whytravelstylecountry/insert/([0-9]*)/(.*)/(.*)$      index.php?mod=tour_exhautive&act=insert_why_travelstyle_country&travelstyle_country_id=$1&panel=$2&step=$3 [QSA,L]

RewriteRule ^tour/whytravelstylecountry/insert/([0-9]*)/(.*)$		    index.php?mod=tour_exhautive&act=insert_why_travelstyle_country&travelstyle_country_id=$1&panel=$2 [QSA,L]


#--member--
RewriteRule ^member/view/([0-9]*)/(.*)/(.*)$			index.php?mod=member&act=insert&profile_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^member/view/([0-9]*)/(.*)$				index.php?mod=member&act=insert&profile_id=$1&panel=$2 [QSA,L]


#--slide--
RewriteRule ^slide/insert/([0-9]*)/(.*)$				index.php?mod=slide&act=insert&slide_id=$1&panel=$2 [QSA,L]

#--service--
RewriteRule ^service/insert/([0-9]*)/(.*)/(.*)$			index.php?mod=service&act=insert&service_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^service/insert/([0-9]*)/(.*)$				index.php?mod=service&act=insert&service_id=$1&panel=$2 [QSA,L]




#--testimonial--
RewriteRule ^testimonial/insert/([0-9]*)/(.*)/(.*)$		index.php?mod=testimonial&act=insert&testimonial_id=$1&panel=$2&step=$3 [QSA,L]
RewriteRule ^testimonial/insert/([0-9]*)/(.*)$				index.php?mod=testimonial&act=insert&testimonial_id=$1&panel=$2 [QSA,L]

#--tour--
RewriteRule ^tour/edit$		index.php?mod=tour_exhautive&act=edit [QSA,L]
RewriteRule ^tour/savedata$		index.php?mod=tour_exhautive&act=ajSaveDataasdsad [QSA,L]
RewriteRule ^tour/edit/([0-9]*)/(.*)/(.*)$	index.php?mod=tour_exhautive&act=edit&tour_id=$1&cat_run=$2&run_ajax=$3 [QSA,L]
RewriteRule ^tour/edit/([0-9]*)/(.*)$		index.php?mod=tour_exhautive&act=edit&tour_id=$1&run_ajax=$2 [QSA,L]
RewriteRule ^tour/edit/([0-9]*)$			index.php?mod=tour_exhautive&act=edit&tour_id=$1 [QSA,L]
RewriteRule ^tour/edit/(.*)$				index.php?mod=tour_exhautive&act=edit&run_ajax=$1 [QSA,L]


#--user--
RewriteRule ^user/insert/([0-9]*)/(.*)$				index.php?mod=user&act=insert&user_id=$1&panel=$2 [QSA,L]

#--usergroup--
RewriteRule ^usergroup/edit/([0-9]*)$				index.php?mod=usergroup&act=edit&usergroup_id=$1 [QSA,L]

# Ticket Okrs
RewriteRule ^ticket/$					index.php?mod=ticket&act=home [QSA,L] 
RewriteRule ^my_ticket/$				index.php?mod=ticket&act=my_ticket [QSA,L] 
RewriteRule ^list_ticket/$				index.php?mod=ticket&act=list_ticket [QSA,L] 
RewriteRule ^detail_ticket/(.*)$		index.php?mod=ticket&act=detail_ticket&ticket_id=$1 [QSA,L] 
RewriteRule ^detail_ticket2/(.*)$		index.php?mod=ticket&act=detail_ticket2&ticket_id=$1 [QSA,L] 

#--why--
RewriteRule ^why/insert/([0-9]*)/(.*)$				index.php?mod=why&act=insert&why_id=$1&panel=$2 [QSA,L]
